{% extends "admin/change_form.html" %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrahead %}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="" id="content"></div>
<script>
(function($) {
{% block javascript %}
{% load data_dashboard %}
{% get_puntos as facturas %}
var ventana_ancho = $(window).width();
var ventana_alto = $(window).height();
$("#content").append($('<div id="map" style="width: '+ (ventana_ancho * 0.96) +'px; height: '+ (ventana_alto * 0.72) +'px;"></div>'));
var get_content = function(fecha, usuario){
			var content = '<div class="marker-content">';
			content += '<table><tbody>';
			content += '<tr><td>' + fecha + '</td></tr>';
			content += '<tr><td>' + usuario + '</td></tr>';
			content += '</tbody></table></div>';
			return content;
			}

		var locations = [
		{% for f in queryset %}
		  ['{{ f.label }}', {{ f.latitude }}, {{ f.longitude }}, '{{ f.usuario }}', '{{ f.fecha }}'],
		{% endfor %}
		];


		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 12,
		  center: new google.maps.LatLng({{ init.latitude }}, {{ init.longitude }}),
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker, i;

		for (i = 0; i < locations.length; i++) {
		  marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map,
			label: locations[i][0]
		  });
		  google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			  infowindow.setContent(get_content(locations[i][4], locations[i][3]));
			  infowindow.open(map, marker);
			}
		  })(marker, i));
		}
{% endblock javascript %}
var active = function(select) {
		var span = $('<span class="sr-only">(current)</span>');
		var element = $(select);
		element.parent()
			.addClass('active')
			.append(span);
}


active('.{% block active %}home{% endblock active %}');
})(grp.jQuery);
</script>
{% endblock content %}
