<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Examen Previo {{ obj.barra }}</title>
    <link rel="stylesheet" href="/static/dtracking/css/bootstrap.css" type="text/css">
</head>
<body>
<button class="btn btn-primary" onclick="exportarWord()">Exportar a Word</button>
<div class="container googoose-wrapper" id="page-content">
<div class="well">

<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Variable</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    {% for v in obj.variables %}
    <tr>
        <td>{{ v.titulo }}</td>
        <td>
          {% if v.tipo == "combobox" or v.tipo ==  "radio" %}
          <div class="row" style="margin-left:5px">
            {% for elemento in v.elementos %}
              <div class="col-sm-1">
                <div class="checkbox disabled">
                  {% if elemento.selecionado %}
                    <label><input type="checkbox" value="" disabled checked>{{ elemento.value }}</label>
                  {% else %}
                    <label><input type="checkbox" value="" disabled>{{ elemento.value }}</label>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
          {% else %}
            {{ v.value }}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% for i in obj.media %}
     <div class="row" style="
    padding: 35px;
">
        <div class="col-md-4">
            <div class="thumbnail">
              <h3>{{ i.variable }}</h3>
              <a href="{{ i.archivo.url }}">
                <img src="{{ i.archivo.url }}" alt="{{ i.nombre }}" style="width:100%">
                <div class="caption">
                  <p>{{ i.nombre }}</p>
                </div>
              </a>
            </div>
          </div>
    </div>
{% endfor %}
</div>
</div>
<script type="text/javascript" src="/static/home/js/jquery.js"></script>
<script type="text/javascript" src="/static/dtracking/js/FileSaver.js"></script>
<script type="text/javascript" src="/static/dtracking/js/jquery.wordexport.js"></script>
<script type="text/javascript" src="/static/dtracking/js/jquery.googoose.js"></script>

<script>
  function exportarWord() {
      //$("#page-content").wordExport();
      var o = {
          filename: 'Examen Previo.doc'
      };
      $(document).googoose(o);
  }

</script>
</body>
</html>