<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Examen Previo {{ obj.barra }}</title>
    <style>
        hr{
            border: 1px solid #575757;
            margin-top:30px;
        }
    </style>
</head>
<body>
<div class="container">
<div class="">

<table  class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Variable</th>
    </tr>
    </thead>
    <tbody>
    {% for v in obj.variables_plantilla %}
      {% if v.tipo != "foto" and v.tipo != "multi foto" and v.tipo != "firma"%}
        <tr>
            <td>{{ v.titulo }}</td>
        </tr>
        <tr>

          {% if v.tipo == "combobox" or v.tipo ==  "radio" %}
              <td>
                {% for elemento in v.elementos %}
                    <label><input type="checkbox" value="" disabled> {{ elemento.value }}</label>
                {% endfor %}
              </td>
          {% else %}
              <td >
                <hr>
                <hr>
                <hr>
              </td>
          {% endif %}

        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
</table>



</div>
</div>

<script>

</script>
</body>
</html>