<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Examen Previo {{ obj.barra }}</title>
    <link rel="stylesheet" href="/static/dtracking/css/bootstrap.css" type="text/css">
</head>
<body>
<div class="container">
<div class="well">
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Variable</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    {% for v in obj.variables %}
    <tr>
        <td>{{ v.titulo }}</td>
        <td>{{ v.value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% for i in obj.media %}
     <div class="row" style="
    padding: 35px;
">
        <div class="col-md-4">
            <div class="thumbnail">
              <h3>{{ i.variable }}</h3>
              <a href="{{ i.archivo.url }}">
                <img src="{{ i.archivo.url }}" alt="{{ i.nombre }}" style="width:100%">
                <div class="caption">
                  <p>{{ i.nombre }}</p>
                </div>
              </a>
            </div>
          </div>
    </div>
{% endfor %}
</div>
</div>
</body>
</html>