{% extends "admin/base_site.html" %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Cliente</th>
            <th>Telefono</th>
            <th>Fecha Solicitúd</th>
            <th>Fecha Inspecion</th>
            <th>Perito</th>
            <th>Fecha Eleboracion de Informe</th>
            <th>Armador</th>
            <th>Ejecutivo</th>
            <th>Banco</th>
            <th>Fin de Avaluo</th>
            <th>Uso del Avaluo</th>
            <th>Valor</th>
            <th>Observaciones</th>
            <th>Dias de Proceso</th>
        </tr>
        </thead>
        <tbody>
        {% for a in avaluos %}
            <tr>
                <td><a href="/admin/dtracking/gestion/{{ a.id }}/change/">{{ a.barra }}</a></td>
                <td>{{ a.destinatario }}</td>
                <td>{{ a.banco }}</td>
                <td>{{ a.fecha }}</td>
                <td>{{ a.fecha_recepcion }}</td>
                <td>{{ a.user }}</td>
                <td>{{ a.fecha_revision }}</td>
                <td>{{ a.armador }}</td>
                <td>{{ a.telefono }}</td>
                <td>{{ a.ejecutivo_banco }}</td>
                <td>{{ a.fin_gestion }}</td>
                <td>{{ a.uso_gestion }}</td>
                <td>{{ a.valor }}</td>
                <td>{{ a.observaciones }}</td>
                <td>{{ a.dias_proceso }}</td>
                <td>
                    <input type="button" value="Aceptar" data-id="{{ a.id }}" style="background-color: darkturquoise; color: black" class="finalizar">
                </td>
                <td>
                    <input type="button" value="Rechazar" data-id="{{ a.id }}" style="background-color: coral; color: black" class="rechazar">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        (function($){
            var finalizar = function(){
                var pk = $(this).data("id");
                $.ajax("/admin/ajax/object_execute/", {
                    method: "post",
                    data: {app_label: "dtracking", model: "gestion", id: pk, method: "terminar"},
                    success: function(){
                        location.reload();
                    },
                })
            }
            var rechazar = function(){
                var pk = $(this).data("id");
                $.ajax("/admin/ajax/object_execute/", {
                    method: "post",
                    data: {app_label: "dtracking", model: "gestion", id: pk, method: "rechazar"},
                    success: function(){
                        location.reload();
                    },
                })
            }
            $(document).ready(function(){
                $(".finalizar").on("click", finalizar);
                $(".rechazar").on("click", rechazar);
            });
        })(grp.jQuery)
    </script>
{% endblock %}
