{% extends "admin/import_export/change_list_import_export.html" %}

{% block object-tools-items %}
    <li><a href="#" class="have-info" data-des="{% url 'reporte' %}">Reporte de Avaluos</a></li>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var have_info = function () {
                    window.open($(this).data('des'), "ExamenPrevio", "width=900, height=900,  status=no, scrollbars=no, toolbars=no, menubar=no, location=no");
                }
                $('.ver-examen').on('click', have_info);
                $('.have-info').on('click', have_info);
            });
        })(grp.jQuery)
    </script>
    {{ block.super }}
{% endblock %}
