{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'pnotify/dist/pnotify.css' %}"/>
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}"/>
  <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" media="print">
  <link rel="stylesheet" href="{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.css' %}"
        type="text/css">
{% endblock %}

{% block content %}

  <style>
    .boton {
      padding: 10px;
    }
  </style>
  <div class="row">
    <div class="col-md-3 col-xs-3 col-sm-3">
      <div>
        <div>
          <div class="grp-module">
            <h2>
              <a title="Reporte de Gerencia" href="#" class="btn btn-primary btn-circle show_atachments have-info">
                <i class="ion-ios-speedometer-outline"></i> Total <span id="totallista">{{ lista|length }}</span>
              </a>
            </h2>
            <div class="grp-module">
              <ul class="grp-listing-small">
               <li>
                <div class="form-group">
                  <label for="peritos">Peritos</label>
                  <select class="form-control" id="peritos" aria-describedby="PeritosHelp"
                          onchange="refreshCalender()">
                    <option value="0">Todos</option>
                    {% for perito in peritos %}
                      <option value="{{ perito.user.id }}">{{ perito.user }}</option>
                    {% endfor %}
                  </select>
                  <small id="PeritosHelp" class="form-text text-muted">Filtre aqui por perito
                    asignado.
                  </small>
                </div>
               </li>
                <li>
                  <div class="form-group">
                    <label for="armador">Armador</label>
                    <select class="form-control" id="armadores" aria-describedby="ArmadoresHelp"
                            onchange="refreshCalender()">
                      <option value="0">Todos</option>
                      {% for armador in armadores %}
                        <option value="{{ armador.user.id }}">{{ armador.user }}</option>
                      {% endfor %}
                    </select>
                    <small id="ArmadoresHelp" class="form-text text-muted">Filtre aqui por armador
                      asignado.
                    </small>
                  </div>
                </li>
              </ul>
              <h3>Pendientes de Prearmado</h3>
              <ul class="grp-listing-small" id="external-events-listing">
                {% for g in lista %}
                  <li class="grp-row fc-draggable ui-draggable ui-draggable-handle gestion_event_aval"
                      gestion="{{ g.id }}">
                    <a href="/admin/dtracking/gestion/{{ g.id }}/change/">{{g.barra}}</a>
                    <img src="{{ g.strella }}" height="15" width="15"
                         style="float:right;padding-right=15px;margin-top: -6px;">
                    <img src="{{ g.retenida }}" height="15" width="15"
                        style="float:right;padding-right=15px;margin-top: -6px;">
                    <span class="grp-font-color-quiet destinatario">{{ g.destinatario }}</span>
                    <span class="grp-font-color-quiet telefono">{{ g.telefono }}</span>
                    <span class="grp-font-color-quiet direccion">{{ g.direccion }}</span>

                    <div class="row">
                      {% if g.user %}
                        <div class="col-sm-6">
                          <h5><i class="ion ion-ios-body"></i> Perito: <span class="nameperito">{{ g.perito }}</span></h5>
                        </div>
                      {% endif %}
                      {% if g.armador %}
                        <div class="col-sm-6">
                          <h5><i class="ion ion-ios-body-outline"></i> Armador: <span class="namearmador">{{ g.armador }}</span></h5>
                        </div>
                      {% endif %}
                      <div class="col-sm-6"></div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">
      <div id="calender"></div>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div id="extra-tools"></div>
              <h7 class="modal-title"><span id="eventTitle"></span></h7>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static '/popper.js/dist/umd/popper.js' %}"></script>
  <script type="text/javascript" src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/moment/min/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/fullcalendar/dist/fullcalendar.js' %}"></script>
  <script type="text/javascript" src="{% static '/fullcalendar/dist/locale/es.js' %}"></script>
  <script type="text/javascript" src="{% static '/pnotify/dist/pnotify.js' %}"></script>
  <script type="text/javascript"
          src='{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.js' %}'></script>
  <script>

      var cargar_usos_gestion = function () {
          $.ajax('/dtracking/get_usos_gestion/',
              {
                  type: 'POST',
                  data: {'fin': $(this).val()},
                  success: function (result) {
                      $('#id_uso_gestion').empty();
                      $.each(result, function (i, o) {
                          $('#id_uso_gestion').append("<option value=" + o.id + ">" + o.name + "</option>");
                      });
                  }
              });
      };

      var showEvent = function (id) {
          var params = "action=/admin/ajax/get_html_form/&fields=ficha_inspeccion-valor-armador-revizada-observaciones-retenida&app_label=dtracking&model=gestion&id=" + id;
          modal = $("#myModal");
          tools = modal.find("#extra-tools").empty();
          tools.append('<a href="/dtracking/examen_previo/?gestion=' + id + '" target="_blank" class="boton">Datos</a>');
          tools.append('<a href="/dtracking/gestion_adjuntos/?pk=' + id + '"s target="_blank">Drive</a>');
          body = modal.find(".modal-body").empty();
          $.ajax("/admin/ajax/get_html_form/?" + params, {
              method: "GET",
              success: function (response) {
                  body.html(response);
                  modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                  $(".form_entrada").attr('enctype', "multipart/form-data");
                  $('#id_fin_gestion').on('change', cargar_usos_gestion);
                  $('#id_armador').prop('required', true);
                  $('#ficha_inspeccion').attr('required', 'true');
              }
          });
      };
      var prearmadoEvent = function () {
          var id = $(this).attr('gestion');

          var params = "action=/admin/ajax/get_html_form/&fields=prearmado-observaciones-armador&app_label=dtracking&model=gestion&id=" + id;
          modal = $("#myModal");
          tools = modal.find("#extra-tools").empty();
          body = modal.find(".modal-body").empty();
          $.ajax("/admin/ajax/get_html_form/?" + params, {
              method: "GET",
              success: function (response) {
                  body.html(response);
                  modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                  $(".form_entrada").attr('enctype', "multipart/form-data");
              }
          });
      }

      $(document).on('click', '.gestion_event_aval', prearmadoEvent);

      function refreshCalender() {
        GenerateCalender()
      }

      function GenerateCalender() {

          $('#calender').fullCalendar('destroy');
          var calendar = $('#calender').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay,listMonth'
              },
              lang: 'es',
              events: function (start, end, timezone, callback) {
                var events = [];
                var data = {}
                 if ($('#peritos').val()!= 0)
                     data['id_perito'] =  $('#peritos').val()
                 if ($('#armadores').val()!= 0)
                     data['id_armador'] =  $('#armadores').val()

                 data['fecha_inicio'] = start.format('Y-M-D')
                 data['fecha_fin']    = end.format('Y-M-D')


                 $.ajax({
                    type: "GET",
                    data: data,
                    url: "{% url 'obtenercitasoperaciones' %}",
                    success: function (response) {
                        console.log(response);
                        $.each(response.programadas, function (i, v) {

                            events.push({
                                eventID: v.id,
                                title: v.titulo,
                                description: v.descripcion,
                                start: moment(v.inicio),
                                end: moment(v.fin),
                                color: v.color,
                                textColor: 'white',
                                allDay: false,
                                barra: v.barra,
                                strella: v.strella,
                                retenida:v.retenida,
                                user: v.user,
                                armador: v.armador,
                                dias: v.dias,
                                valor: v.valor,
                                prioridad: v.prioridad
                            });

                        });
                        $.each(response.pendientes, function (i, v) {
                            $(document).find('li[gestion=' + v.id + ']').remove();
                            events.push({
                                eventID: v.id,
                                title: v.titulo,
                                description: v.descripcion,
                                start: moment(v.inicio),
                                end: moment(v.fin),
                                color: v.color,
                                textColor: 'white',
                                allDay: false,
                                barra: v.barra,
                                strella: v.strella,
                                retenida:v.retenida,
                                user: v.user,
                                armador: v.armador,
                                dias: v.dias,
                                valor: v.valor,
                                prioridad: v.prioridad,
                            });
                        });
                        callback(events);
                    },
                    error: function (error) {
                        alert(JSON.stringify(error.d));
                        console.log(error);
                    }
                });




              },
              editable: false,
              droppable: true, // this allows things to be dropped onto the calendar
              dragRevertDuration: 0,
              timeFormat: 'h(:mm)a',
              eventRender: function (event, element, view) {
                  return $(
                      '<div id="event-' + event.eventID + '" class="fc-event" style="background-color:' + event.color + '; padding: 3px; color: black">' +
                      event.barra + '<br> ' + '<img class="' + event.prioridad + '" src="' + event.strella + '" height="15" width="15" style="float:right;padding-right=15px;margin-top: -14px;"><img class="' + event.prioridad + '" src="' + event.retenida + '" height="15" width="15" style="float:right;padding-right=15px;margin-top: -14px;">' +
                      '<div>' + event.title + '</div>' +
                      '<strong> U$ ' + event.valor + '</strong><br> ' +
                      '<strong>' + event.armador + '</strong><br>' +
                      '<strong>' + event.dias + '</strong>' +
                      '</div>');
              },
              eventDragStart: function (event, jsEvent, ui, view) {
                  event.changing = true;
                  dragged = [calendar, event];
              },
              eventClick: function (calEvent, jsEvent, view) {
                  showEvent(calEvent.eventID);
              }
          });
          $('#calender').fullCalendar('option', 'timezone', 'UTC');
      }

      $(document).on("submit", ".form_entrada", function (e) {
          e.preventDefault();
          var formu = $(this);
          var url = formu.attr('action');
          var formData = new FormData($(formu)[0]);
          var element = this;
          $.ajax({
              type: "POST",
              url: url,
              cache: false,
              contentType: false,
              processData: false,
              data: formData,
              success: function (e) {
                  if (typeof(e.error) != "undefined" && e.error != "")
                      new PNotify({
                          title: 'Error!',
                          text: e.error,
                          type: 'error',
                          styling: 'bootstrap3'
                      });
                  else {
                      new PNotify({
                          title: 'Acción Exitosa !',
                          text: e.result,
                          type: 'success',
                          styling: 'bootstrap3'
                      });

                      refreshCalender();
                      $("#myModal").modal('hide');
                  }
                  if (typeof(e.function) != "undefined") {
                      var name = e.function;
                      var param = "";
                      if (typeof(e.param) != "undefined")
                          param = e.param;
                      window[name](e, element, param);
                  }

              }, error: function (data) {
                  new PNotify({
                      title: 'Error!',
                      text: data.responseText,
                      type: 'error',
                      styling: 'bootstrap3'
                  });
              }
          });
      });
      $(document).ready(function () {
          $('#modal-default').iziModal();
          refreshCalender();
          $("#nav-search").click(function () {
              $(this).select();
          });


      });//end ready


      $(document).on('change', '#peritos', filtrarLista);
      $(document).on('change', '#armadores', filtrarLista);
      function filtrarLista() {
          var filter, ul, li, a, i;
          filter = $("#peritos option:selected").text().toUpperCase();
          armador = $("#armadores option:selected").text().toUpperCase();
          ul = $("#external-events-listing");
          li = ul.find("li");
          if(filter==="TODOS" && armador ==="TODOS"){
              for (i = 0; i < li.length; i++) {
                li[i].style.display = "";
              }
              $("#totallista").text(li.length);
          }else {
              var contadorfiltro=0;
              for (i = 0; i < li.length; i++) {

                  a = $(li[i]).find($("span.nameperito"))[0];
                  ar = $(li[i]).find($("span.namearmador"))[0];
                  if((filter==="TODOS"&& armador!=="TODOS"&& ar.innerHTML.toUpperCase() ==armador) ||(armador==="TODOS"&& filter!=="TODOS"&& a.innerHTML.toUpperCase() ==filter) || (a.innerHTML.toUpperCase() ==filter && ar.innerHTML.toUpperCase() ==armador))
                  {
                    li[i].style.display = "";
                    contadorfiltro++;
                  }
                   else {
                      li[i].style.display = "none";
                  }
              }
              $("#totallista").text(contadorfiltro);
          }

      };


  </script>





{% endblock %}
