{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'pnotify/dist/pnotify.css' %}"/>
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}"/>
<link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" media="print">
<link rel="stylesheet" href="{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <style>
    .boton{
        padding: 10px;
    }
    </style>
    <div class="row">
{% comment %}        <div class="col-xs-12 col-sm-3">
            <div id='external-events'>
                <h4>Avaluos sin Asignar!</h4>

                <div id="external-events-listing">
                </div>
            </div>
            <div id='external-events'>
                <div class="form-group">
                    <label for="peritos">Peritos</label>
                    <select class="form-control" id="peritos" aria-describedby="PeritosHelp"
                            onchange="refreshCalender()">
                        <option value="0">Todos</option>
                        {% for perito in peritos %}
                            <option value="{{ perito.user.id }}">{{ perito.user }}</option>
                        {% endfor %}
                    </select>
                    <small id="PeritosHelp" class="form-text text-muted">Filtre aqui por perito asignado.</small>
                </div>

            </div>
            <div id='external-events'>
                <div>
                    <h4>Leyenda</h4>
                    <div style="background-color: #991957; color: white;">Vencidas <span
                            style="float: right">{{ total_vencidas }}</span></div>
                    <br>
                    <div style="background-color: #4d0a54; color: white;">Para Hoy <span
                            style="float: right">{{ total_hoy }}</span></div>
                    <br>
                    <div style="background-color: #46991a; color: white;">Vigentes <span
                            style="float: right">{{ total_vigentes }}</span></div>
                    <br>
                </div>
            </div>
            <div id='external-events'>
                <div>
                    <h4>Reportes</h4>
                    <div class="btn btn-info">Reporte 1 </div>
                    <br>
                </div>
            </div>
        </div>{% endcomment %}
        <div class="col-xs-12 col-sm-12">
            <div id="calender"></div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div id="extra-tools"></div>
                            <h7 class="modal-title"><span id="eventTitle"></span></h7>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <script type="text/javascript" src="{% static '/popper.js/dist/umd/popper.js' %}"></script>
    <script type="text/javascript" src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/locale/es.js' %}"></script>
    <script type="text/javascript" src="{% static '/pnotify/dist/pnotify.js' %}"></script>
    <script type="text/javascript" src='{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.js' %}'></script>
    <script>

        var cargar_usos_gestion = function () {
            $.ajax('/dtracking/get_usos_gestion/',
                {
                    type: 'POST',
                    data: {'fin': $(this).val()},
                    success: function (result) {
                        $('#id_uso_gestion').empty();
                        $.each(result, function (i, o) {
                            $('#id_uso_gestion').append("<option value=" + o.id + ">" + o.name + "</option>");
                        });
                    }
                });
        }
        var showEvent = function (id) {
            var params = "action=/admin/ajax/get_html_form/&fields=ficha_inspeccion-armador-revizada&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#myModal");
            tools = modal.find("#extra-tools").empty();
            tools.append('<a href="/dtracking/examen_previo/?gestion='+ id + '" target="_blank" class="boton">Datos</a>');
            tools.append('<a href="/dtracking/gestion_adjuntos/?pk='+ id + '"s target="_blank">Drive</a>');
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $(".form_entrada").attr('enctype',"multipart/form-data");
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);

                    $('#id_armador').prop('required', true);
                    $('#ficha_inspeccion').attr('required', 'true');
                }
            });
        }
        function refreshCalender() {
            var events = [];
            var data = {'id_perito': $('#peritos').val()};
            $.ajax({
                type: "GET",
                data: data,
                url: "{% url 'obtenercitasoperaciones' %}",
                success: function (response) {
                    console.log(response);
                    $.each(response.programadas, function (i, v) {
                        events.push({
                            eventID: v.id,
                            title: v.titulo,
                            description: v.descripcion,
                            start: moment(v.inicio),
                            end: moment(v.fin),
                            color: v.color,
                            textColor: 'white',
                            allDay: false,
                            barra: v.barra,
                            strella: v.strella,
                            user: v.user,
                            armador: v.armador,
                            dias: v.dias,
                            valor: v.valor,
                        });
                    });
                    console.log(events);
                    $.each(response.pendientes, function (i, v) {
                        events.push({
                            eventID: v.id,
                            title: v.titulo,
                            description: v.descripcion,
                            start: moment(v.inicio),
                            end: moment(v.fin),
                            color: v.color,
                            textColor: 'white',
                            allDay: false,
                            barra: v.barra,
                            strella: v.strella,
                            user: v.user,
                            armador: v.armador,
                            dias: v.dias,
                            valor: v.valor,
                        });
                    });
                    console.log(events);

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert(JSON.stringify(error.d));
                    console.log(error);
                }
            });

        }
        function GenerateCalender(events) {

            $('#calender').fullCalendar('destroy');
            var calendar = $('#calender').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                lang: 'es',
                events: events,
                editable: false,
                droppable: true, // this allows things to be dropped onto the calendar
                dragRevertDuration: 0,
                timeFormat: 'h(:mm)a',
                eventRender: function (event, element, view) {
                    return $(
                        '<div id="event-' + event.eventID + '" class="fc-event" style="background-color:' + event.color + '; padding: 3px; color: black">' +
                        event.barra + '<br> ' + '<img src="'+ event.strella+'" height="15" width="15" style="float:right;padding-right=15px;margin-top: -14px;">' +
                        '<div>' + event.title + '</div>' +
                        '<strong> U$ ' + event.valor + '</strong><br> ' +
                        '<strong>' + event.armador + '</strong><br>' +
                        '<strong>' + event.dias + '</strong>' +
                        '</div>');
                },
                eventDragStart: function (event, jsEvent, ui, view) {
                    event.changing = true;
                    dragged = [calendar, event];
                },
                eventClick: function (calEvent, jsEvent, view) {
                    showEvent(calEvent.eventID);
                }
            });
            $('#calender').fullCalendar('option', 'timezone', 'UTC');
        }
        $(document).on("submit", ".form_entrada", function (e) {
            e.preventDefault();
            var formu = $(this);
            var url = formu.attr('action');
            var formData = new FormData($(formu)[0]);
            var element = this;
            $.ajax({
                type: "POST",
                url : url,
                cache: false,
                contentType: false,
                processData: false,
                data : formData,
                success: function (e) {
                    if (typeof(e.error) != "undefined" && e.error != "")
                        new PNotify({
                            title: 'Error!',
                            text: e.error,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    else {
                        new PNotify({
                            title: 'Acción Exitosa !',
                            text: e.result,
                            type: 'success',
                            styling: 'bootstrap3'
                        });

                        refreshCalender();
                        $("#myModal").modal('hide');
                    }
                    if (typeof(e.function) != "undefined") {
                        var name = e.function;
                        var param = "";
                        if (typeof(e.param) != "undefined")
                            param = e.param;
                        window[name](e, element, param);
                    }

                }, error: function (data) {
                    new PNotify({
                        title: 'Error!',
                        text: data.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        });
        $(document).ready(function () {
            $('#modal-default').iziModal();
            refreshCalender();
            $("#nav-search").click(function () {
                $(this).select();
            });
            
        })//end ready

    </script>
{% endblock %}
