{% extends 'admin/base_site.html' %}

{% load admin_urls static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'pnotify/dist/pnotify.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" media="print">
    <link rel="stylesheet" href="{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.css' %}"
          type="text/css">
    <style>

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

        .hidden {
            display: none !important;
            visibility: hidden !important;
        }

        span.direccion {
            font-size: 0.8em;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .grp-font-color-quiet {
            color: black;
        }

        .grp-change-link > a {
            color: red;
        }

        .widget {
            overflow: visible;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-xs-3 col-sm-3">
            <div>
                <div>
                    <div class="grp-module">
                        <h2>
                            <a title="Reporte de Recepción" href="#"
                               class="btn btn-primary btn-circle show_atachments have-info"
                               data-des="{% url 'reporte' %}?status=0"
                               data-name="Reporte de Recepción">
                                <i class="ion-happy"></i>
                            </a>
                            <a title="Reporte de Logística" href="#"
                               class="btn btn-primary btn-circle show_atachments have-info"
                               data-des="{% url 'reporte' %}?status=1"
                               data-name="Reporte de Logística">
                                <i class="ion-android-car"></i>
                            </a>
                            <a title="Reporte de Operaciones" href="#"
                               class="btn btn-primary btn-circle show_atachments have-info"
                               data-des="{% url 'reporte' %}?status=2"
                               data-name="Reporte de Operaciones">
                                <i class="ion-person-stalker"></i>
                            </a>
                            <a title="Reporte de Gerencia" href="#"
                               class="btn btn-primary btn-circle show_atachments have-info"
                               data-des="{% url 'reporte' %}?status=3"
                               data-name="Reporte de Gerencia">
                                <i class="ion-android-contact"></i>
                            </a>
                            <a title="Nuevo Avaluo" href="javascript:void(0)" id="new-event"
                               class="btn btn-primary btn-circle">
                                <i class="ion-plus-round"></i>
                            </a>
                        </h2>
                        <div class="grp-module">
                            <ul class="grp-listing-small">
                                <div class="form-group">
                                    <label for="peritos">Peritos</label>
                                    <select class="form-control" id="peritos" aria-describedby="PeritosHelp"
                                            onchange="refreshCalender()">
                                        <option value="0">Todos</option>
                                        {% for perito in peritos %}
                                            <option value="{{ perito.user.id }}">{{ perito.user }}</option>
                                        {% endfor %}
                                    </select>
                                    <small id="PeritosHelp" class="form-text text-muted">Filtre aqui por perito
                                        asignado.
                                    </small>
                                </div>
                            </ul>
                            <h3>No Asignados</h3>
                            <ul class="grp-listing-small" id="external-events-listing"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-9 col-sm-9">
            <div>
                <div>
                    <div class="grp-module" id="grp-recent-actions-module">
                        <h2>Agenda de Operaciones</h2>
                        <div class="grp-module">
                            <h3>En Proceso</h3>
                            <div id="calender"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h7 class="modal-title"><span id="eventTitle"></span></h7>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static '/popper.js/dist/umd/popper.js' %}"></script>
    <script type="text/javascript" src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/locale/es.js' %}"></script>
    <script type="text/javascript" src="{% static '/pnotify/dist/pnotify.js' %}"></script>
    <script type="text/javascript"
            src='{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.js' %}'></script>
    <script>

        var cargar_municipios = function () {
            $.ajax('/dtracking/get_municipios/',
                {
                    type: 'POST',
                    data: {'departamento': $(this).val()},
                    success: function (result) {
                        $('#id_municipio').empty();
                        $.each(result, function (i, o) {
                            $('#id_municipio').append("<option value=" + o.id + ">" + o.name + "</option>");
                        });
                    }
                });
        };
        var cargar_usos_gestion = function () {
            $.ajax('/dtracking/get_usos_gestion/',
                {
                    type: 'POST',
                    data: {'fin': $(this).val()},
                    success: function (result) {
                        $('#id_uso_gestion').empty();
                        $.each(result, function (i, o) {
                            $('#id_uso_gestion').append("<option value=" + o.id + ">" + o.name + "</option>");
                        });
                    }
                });
        }
        var cotizar = function () {
            window.open(
                $(this).data('url'),
                $(this).data('name'),
                "width=900mm, height=700mm,  status=no, menubar=no, location=no");
        }
        var showEvent = function (id, fecha) {
            fecha || ( fecha = undefined );
            var params = "action=/dtracking/programar_gestion/&fields=fecha_asignacion-fin_gestion-uso_gestion-direccion-valor-descuento-user-realizada-fecha_recepcion-armador-ficha_inspeccion-notify&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    $("#id_user").prop('required', true);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $("#div_id_ficha_inspeccion").css("display", "none");
                    $("#div_id_fecha_recepcion").css("display", "none");
                    $("#div_id_armador").css("display", "none");
                    $("#id_realizada").on('change', function () {
                        if ($(this).is(':checked')) {
                            $("#div_id_ficha_inspeccion").css("display", "block");
                            $("#div_id_fecha_recepcion").css("display", "block");
                            $("#id_fecha_recepcion-view-input").attr('readonly', false);
                            $("#id_fecha_recepcion-view-input").prop('required', true);
                            $("#id_fin_gestion").prop('required', true);
                            $("#id_uso_gestion").prop('required', true);
                            $("#id_valor").prop('required', true);
                            $("#div_id_armador").css("display", "block");
                        } else {
                            $("#div_id_ficha_inspeccion").css("display", "none");
                            $("#div_id_fecha_recepcion").css("display", "none");
                            $("#id_fecha_recepcion-view-input").attr('readonly', true);
                            $("#id_fecha_recepcion-view-input").prop('required', false);
                            $("#id_fin_gestion").prop('required', false);
                            $("#id_uso_gestion").prop('required', false);
                            $("#id_valor").prop('required', false);
                            $("#div_id_armador").css("display", "none");
                        }
                    });
                    if (fecha != undefined) {
                        $("#id_fecha_asignacion").val(fecha.format('D/M/Y'));
                    }
                    $("#id_fecha_asignacion").datetimepickerByGiro({
                        style: 'popup', // / inline / popup
                        autoclose: true, // autoclose the popup on date / date range selected
                        uiTarget: false, // the UI target to contain the datetime value
                        firstDay: 1, // 0 - 6:  sunday -> saturday   // default 1 (Monday)
                        minView: 'times', // times / days / months / years
                        maxView: 'years', // times / days / months / years
                        startView: 'days', // times / days / months / years
                        min: null, // starting date to allow selection
                        max: null, // ending date to allow selection
                        //today: 'now', // if string is provided it will follow the option "format" provided (except for the string "now") / new Date() object
                        showDaysNotInMonth: false,
                        showDisabledTimes: true,
                        calendars: 1,
                        format: 'd/m/Y H:i:s', // PHP standard format
                        uiFormat: 'd/m/Y H:i', // PHP standard format. if provided different from the option "format", the original input will be hidden, and the date selected will be shown in this format
                        separator: ' | ', // this will be the separator for multiple dates or date range
                        mode: 'single', // single / multiple / range
                        timeFormat: 12, // 12 / 24
                        minuteStep: 60,
                        specialDates: []
                    });
                    $("#id_fecha_recepcion").datetimepickerByGiro({
                        style: 'popup', // / inline / popup
                        autoclose: true, // autoclose the popup on date / date range selected
                        uiTarget: false, // the UI target to contain the datetime value
                        firstDay: 1, // 0 - 6:  sunday -> saturday   // default 1 (Monday)
                        minView: 'times', // times / days / months / years
                        maxView: 'years', // times / days / months / years
                        startView: 'days', // times / days / months / years
                        min: null, // starting date to allow selection
                        max: null, // ending date to allow selection
                        today: 'now', // if string is provided it will follow the option "format" provided (except for the string "now") / new Date() object
                        showDaysNotInMonth: false,
                        showDisabledTimes: true,
                        calendars: 1,
                        format: 'd/m/Y H:i:s', // PHP standard format
                        uiFormat: 'd/m/Y H:i', // PHP standard format. if provided different from the option "format", the original input will be hidden, and the date selected will be shown in this format
                        separator: ' | ', // this will be the separator for multiple dates or date range
                        mode: 'single', // single / multiple / range
                        timeFormat: 12, // 12 / 24
                        minuteStep: 60,
                        specialDates: []
                    })
                    $(".form_entrada").attr('enctype', "multipart/form-data");
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var newEvent = function () {
            var params = "fields=barra-tipo_gestion-fin_gestion-uso_gestion-valor-descuento-destinatario-identificacion-telefono-contacto-contacto_telefono-banco-banco_ejecutivo-banco_sucursal-departamento-direccion-observaciones-priority&app_label=dtracking&model=gestion";
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $('#id_departamento').on('change', cargar_municipios);
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var editEvent = function () {
            var id = $(this).data("event").id;
            var params = "fields=barra-tipo_gestion-fin_gestion-uso_gestion-valor-descuento-destinatario-telefono-contacto-contacto_telefono-banco-banco_ejecutivo-banco_sucursal-departamento-direccion-observaciones-priority&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $('#id_departamento').on('change', cargar_municipios);
                    $('#id_fecha').datetimepickerByGiro({
                        style: 'popup', // / inline / popup
                        autoclose: true, // autoclose the popup on date / date range selected
                        uiTarget: false, // the UI target to contain the datetime value
                        firstDay: 1, // 0 - 6:  sunday -> saturday   // default 1 (Monday)
                        minView: 'times', // times / days / months / years
                        maxView: 'years', // times / days / months / years
                        startView: 'days', // times / days / months / years
                        min: null, // starting date to allow selection
                        max: null, // ending date to allow selection
                        today: 'now', // if string is provided it will follow the option "format" provided (except for the string "now") / new Date() object
                        showDaysNotInMonth: false,
                        showDisabledTimes: true,
                        calendars: 1,
                        format: 'Y-m-d H:i:s', // PHP standard format
                        uiFormat: 'Y-m-d H:i', // PHP standard format. if provided different from the option "format", the original input will be hidden, and the date selected will be shown in this format
                        separator: ' | ', // this will be the separator for multiple dates or date range
                        mode: 'single', // single / multiple / range
                        timeFormat: 12, // 12 / 24
                        minuteStep: 60,
                        specialDates: []
                    });
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var createRow = function (v) {
            var row = '<li class="grp-row fc-draggable" id ="event-' + v.id + '">' +
                '<a href="/admin/dtracking/gestion/' + v.id + '/change/">' + v.barra + '</a>' +
                '<img src="' + v.strella + '" height="15" width="15" style="float:right;padding-right=15px;margin-top: -6px;">' +
                '<span class="grp-font-color-quiet destinatario">' + v.destinatario + '</span>' +
                '<span class="grp-font-color-quiet telefono">' + v.telefono + '</span>' +
                '<span class="grp-font-color-quiet direccion">' + v.direccion + '</span>' +
                '<span class="btn btn-sm btn-info cotizar" ' +
                'data-name="proforma" data-url="/dtracking/gestion_proforma/?gestion=' + v.id +
                '" style="position: relative;float: right;z-index: 999;cursor: context-menu;"> Cotizar</span><span class="btn btn-sm btn-danger cancelar" gestion="' + v.id +'" style="position: relative;float: right;z-index: 999;cursor: context-menu;"> Cancelar</span></li>' ;

            row = $(row).data('event', v);
            row = $(row).draggable({
                zIndex: 999,
                revert: true,
                revertDuration: 0
            });
            return row;
        }
        var redrawEvent = function (gestion) {
            var events = $('#calender').fullCalendar('clientEvents');
            $("#event-" + gestion.id).remove();
            $.each(events, function (i, e) {
                if (e.id == gestion.id) {
                    $("#calender").fullCalendar("removeEvents", gestion.id);
                }
            });
            if (gestion.status_gestion == "RECEPCIONADO") {
                $('#external-events-listing').prepend(createRow(gestion));
            } else if (gestion.status_gestion == "ASIGNADO A EVALUADOR") {
                $('#calender').fullCalendar('renderEvent', gestion_to_event(gestion));
            } else {
                console.log(gestion);
            }
        }
        var gestion_to_event = function (gestion, update) {
            var update = update || true;
            var event = gestion;
            event.eventID = gestion.id;
            event.start = moment(gestion.inicio);
            event.end = moment(gestion.fin);
            event.textColor = 'white';
            event.allDay = false;
            event.stick = true
            return event
        }

        function refreshCalender() {
            var events = [];
            var data = {'busqueda': $('#nav-search').val(), 'id_perito': $('#peritos').val()};
            $.ajax({
                type: "GET",
                data: data,
                url: "{% url 'obtenercitasperitaje' %}",
                success: function (response) {
                    $.each(response.programadas, function (i, v) {
                        events.push(gestion_to_event(v));
                    });
                    $('#external-events-listing').empty();
                    $.each(response.pendientes, function (i, v) {
                        var r = createRow(v);
                        $('#external-events-listing').append(r);
                    });
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert(JSON.stringify(error.d));
                }
            })//ajax
        }

        function GenerateCalender(events) {

            $('#calender').fullCalendar('destroy');
            var calendar = $('#calender').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                lang: 'es',
                events: events,
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                dragRevertDuration: 0,
                timeFormat: 'h(:mm)a',
                drop: function (date, jsEvent, ui, resourceId) {
                    showEvent($(this).data("event").id, date);
                    $(this).remove();
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    var d = new Date(event.start)
                    ProgramEvent(event.eventID, event.start, null, null);
                    event.start += delta;
                    new PNotify({
                        title: 'Reprogramación !',
                        text: 'Visita reprogramada para ' + d.toLocaleDateString('UTC') + '. Perito de campo ' + event.user,
                        type: 'warning',
                        styling: 'bootstrap3'
                    });
                },
                eventRender: function (event, element, view) {
                    return $(
                        '<div id="event-' + event.eventID + '" class="fc-event" style="background-color:' + event.color + '; padding: 3px; color: black">' +
                        event.barra + '<br> ' + '<img class="'+ event.prioridad +'" src="' + event.strella + '" height="15" width="15" style="float:right;padding-right=15px;margin-top: -14px;">' +
                        '<div>' + event.destinatario + '</div>' +
                        '<small>' + event.direccion + '</small><br> ' +
                        '<strong>' + event.user + ' - ' + event.start.format("h(:mm)a") + '</strong>' +
                        '</div>');
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var id = ((calEvent.eventID == undefined) ? calEvent.id : calEvent.eventID);
                    showEvent(id);
                }
            });
            $('#calender').fullCalendar('option', 'timezone', 'UTC');
        }

        function ProgramEvent(id, inicio) {
            var event;
            var data = {
                "id": id,
                "fecha_asignacion": new Date(inicio).toISOString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            return $.ajax({
                url: "{% url 'programar_gestion' %}",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.code === 200) {
                        $(".fc-event[data-idevent*='" + result.gestion.id + "']").remove();
                        $("#event-" + result.gestion.id).css('background-color', result.gestion.color[0]);
                    }
                }
            });
        }
        var cancelarEvent = function()
        {
          var id = $(this).attr('gestion');
          if(id!=""&& id != undefined)
            {
              var r = confirm("Desea Cancelar este Avalúo!");
              if (r == true) {
                $.ajax("/admin/ajax/object_execute/", {
                    method: "post",
                    data: {  app_label: "dtracking", model: "gestion", id: id, method: "cancelarGestion"},
                    success: function(result){
                         alert(result.result.result);
                    }
                })
              }
            }

        }

        var onclosemodal = function () {
            var id = $(this).find('input[name="id"]').val();
            if (id != undefined && id != "") {
                $.ajax('/admin/ajax/get_object/', {
                    method: "POST",
                    data: {app_label: 'dtracking', model: 'gestion', id: id},
                    success: function (gestion) {
                        redrawEvent(gestion);
                    }
                });
            }
        }
        var btn_form;
        $(document).on("submit", ".form_entrada", function (e) {
            e.preventDefault();
            var formu = $(this);
            btn_form = formu.find('input[type=submit]');
            var url = formu.attr('action');
            var formData = new FormData($(formu)[0]);
            var element = this;
            btn_form.prop("disabled", true);
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (e) {
                    btn_form.prop("disabled", false);
                    if (typeof(e.error) != "undefined" && e.error != "")
                        new PNotify({
                            title: 'Error!',
                            text: e.error,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    else {
                        new PNotify({
                            title: 'Acción Exitosa !',
                            text: e.result,
                            type: 'success',
                            styling: 'bootstrap3'
                        });
                        $("#myModal").modal('hide');
                    }
                    if (typeof(e.function) != "undefined") {
                        var name = e.function;
                        var param = "";
                        if (typeof(e.param) != "undefined")
                            param = e.param;
                        window[name](e, element, param);
                    }
                    redrawEvent(e.object);

                }, error: function (data) {
                    btn_form.prop("disabled", false);
                    new PNotify({
                        title: 'Error!',
                        text: data.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        });

        $(document).ready(function () {
            refreshCalender();

            $('#new-event').click(newEvent);

            $("body").on('click', '.fc-draggable', editEvent);

            $("body").on('click', '.cotizar', cotizar);
            $("body").on('click', '.cancelar', cancelarEvent);



            $("#nav-search").click(function () {
                $(this).select();
            });
            $('#myModal').on('hide.bs.modal', onclosemodal);


            var have_info = function () {
                window.open($(this).data('des'), "ExamenPrevio", "width=900, height=900,  status=no, scrollbars=no, toolbars=no, menubar=no, location=no");
            }
            $('.have-info').on('click', have_info);

        });

    </script>
{% endblock %}
