{% extends 'admin/base_site.html' %}

{% load admin_urls static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" media="print">
{% endblock %}

{% block content %}
    <div id="grp-content-container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <div >
                    <div class="grp-module" id="grp-recent-actions-module">
                        <h2>Marcadores</h2>
                        <div class="grp-module">
                            <h3>Por Estado</h3>
                            <ul class="grp-listing-small">
                                <div style="background-color: #6a696b; color: white;">Vencidas <span
                                        style="float: right">{{ total_vencidas }}</span></div>
                                <br>
                                <div style="background-color: #6a696b; color: white;">Para Hoy <span
                                        style="float: right">{{ total_hoy }}</span></div>
                                <br>
                                <div style="background-color: #6a696b; color: white;">Vigentes <span
                                        style="float: right">{{ total_vigentes }}</span></div>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="grp-module" id="grp-recent-actions-module">
                        <h2>Peritos</h2>
                        <div class="grp-module">
                            <ul class="grp-listing-small">
                                <div class="form-group">
                                    <label for="peritos">Peritos</label>
                                    <select class="form-control" id="peritos" aria-describedby="PeritosHelp"
                                            onchange="refreshCalender()">
                                        <option value="0">Todos</option>
                                        {% for perito in peritos %}
                                            <option value="{{ perito.user.id }}">{{ perito.user }}</option>
                                        {% endfor %}
                                    </select>
                                    <small id="PeritosHelp" class="form-text text-muted">Filtre aqui por perito
                                        asignado.
                                    </small>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div >
                    <div class="grp-module" id="grp-recent-actions-module">
                        <ul>
                            <li><h2>Avaluos sin Asignar</h2></li>
                            <li class="grp-float-right">
                                <input type="submit" id="new-event" class="grp-button grp-default" value="Nuevo">
                            </li>
                        </ul>
                        <div class="grp-module">
                            <h3>No Asignados</h3>
                            <ul class="grp-listing-small" id="external-events-listing"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div >
                <div >
                    <div class="grp-module" id="grp-recent-actions-module">
                        <h2>Agenda de Operaciones</h2>
                        <div class="grp-module">
                            <h3>En Proceso</h3>
                            <div id="calender"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h7 class="modal-title"><span id="eventTitle"></span></h7>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static '/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static '/fullcalendar/dist/locale/es.js' %}"></script>
    <script type="text/javascript"
            src='{% static 'jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.min.js' %}'></script>
    <script>
        var atachments_info = function () {
            window.open(
                $(this).data('url'),
                $(this).data('name'),
                "width=600mm, height=500mm,  status=no, menubar=no, location=no");
        };
        function ver_gestion(gestion) {
            $.ajax({
                url: "{% url "get_log_gestion" %}?gestion=" + gestion + "",
                method: "get",
                success: function (result) {
                    if (result.code == 200) {
                        var tab = $('#logs').empty();
                        $.each(result.logs, function (i, o) {
                            var rw = '<tr><td>' + o.fecha + '</td><td>' + o.estado + '</td><td>' + o.atiende + '</td><td>' + o.anexo + '</td></tr>';
                            tab.append(rw);
                        });
                        var url = $("#ficha").attr('url') + result.id_gestion
                        $("#ficha").attr('data-url', url);

                        url = $("#proforma").attr('url') + result.id_gestion
                        $("#proforma").attr('data-url', url);
                        $("#codigo_gestion").html(result.codigo_gestion);
                        $("#cliente_gestion").html(result.cliente_gestion);
                        $("#tipo_gestion").html(result.tipo_gestion);
                        $("#modal-default").iziModal({zindex: 9999});
                        $("#modal-default").iziModal('open');


                        $('.show_atachments').on('click', atachments_info);


                    } else {
                        alert(result.mensaje);
                    }

                }
            });

            $(".style-switch-wrapper").removeClass("active");
        };
        var cargar_municipios = function () {
            $.ajax('/dtracking/get_municipios/',
                {
                    type: 'POST',
                    data: {'departamento': $(this).val()},
                    success: function (result) {
                        $('#id_municipio').empty();
                        $.each(result, function (i, o) {
                            $('#id_municipio').append("<option value=" + o.id + ">" + o.name + "</option>");
                        });
                    }
                });
        };
        var cargar_usos_gestion = function () {
            $.ajax('/dtracking/get_usos_gestion/',
                {
                    type: 'POST',
                    data: {'fin': $(this).val()},
                    success: function (result) {
                        $('#id_uso_gestion').empty();
                        $.each(result, function (i, o) {
                            $('#id_uso_gestion').append("<option value=" + o.id + ">" + o.name + "</option>");
                        });
                    }
                });
        }
        var cotizar = function () {
            window.open(
                $(this).data('url'),
                $(this).data('name'),
                "width=900mm, height=700mm,  status=no, menubar=no, location=no");
        }
        function makeEventsDraggable() {
            $(".fc-draggable").draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: false  //  original position after the drag
            });
            $('#external-events').find('.fc-event').each(function () {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

            $('#external-events-listing').droppable({
                drop: function (event, ui) {
                    if (dragged) {
                        var event = dragged[1];
                        dragged[0].fullCalendar('removeEvents', event._id);
                        var el = $("<div class='fc-event'>").appendTo(this).text(event.title);
                        el.draggable({
                            zIndex: 999,
                            revert: true,
                            revertDuration: 0
                        });
                        el.data('event', {title: event.title, id: event.id, stick: true});
                        dragged = null;
                        makeEventsDraggable();
                    }
                }
            });
        }
        var showEvent = function (id) {
            var params = "action=/dtracking/programar_gestion/&fields=fecha_asignacion-fin_gestion-uso_gestion-valor-user-notify-ficha_inspeccion-realizada-fecha_recepcion&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $("#id_fecha_asignacion").datetimepicker({
                        format: 'd/m/Y H:m',
                        datepicket: false,
                        timepicker: true,
                        minView: 1,
                        maxView: 1,
                    });
                    $("#id_fecha_recepcion").datetimepicker({
                        format: 'd/m/Y H:m',
                        datepicket: false,
                        timepicker: true,
                        minView: 1,
                        maxView: 1,
                    });
                    var fecha = moment($("#id_fecha_asignacion").val(), 'DD/MM/YYYY HH:mm:ss').toDate();
                    $("#id_fecha_asignacion").datetimepicker('update', fecha);
                    $("#id_fecha_recepcion").datetimepicker('update', fecha);
                    $(".form_entrada").attr('enctype', "multipart/form-data");
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var newEvent = function () {
            var params = "fields=tipo_gestion-fin_gestion-uso_gestion-valor-destinatario-telefono-contacto-contacto_telefono-banco-banco_ejecutivo-departamento-direccion-observaciones&app_label=dtracking&model=gestion";
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $('#id_departamento').on('change', cargar_municipios);
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var editEvent = function () {
            var id = $(this).data('idevent');
            var params = "fields=fecha-tipo_gestion-fin_gestion-uso_gestion-valor-destinatario-telefono-contacto-contacto_telefono-banco-banco_ejecutivo-departamento-direccion-observaciones&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#myModal");
            body = modal.find(".modal-body").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.modal({backdrop: false, keyboard: false}, 'toggle', 'show');
                    $("#id_fecha").datetimepicker({
                        format: 'd/m/Y',
                        timepicker: false,
                        minView: 1,
                        maxView: 0,
                    });
                    $('#id_departamento').on('change', cargar_municipios);
                    var fecha = moment($("#id_fecha").val(), 'DD/MM/YYYY HH:mm:ss').toDate();
                    $("#id_fecha").datetimepicker('update', fecha);
                    $('#id_fin_gestion').on('change', cargar_usos_gestion);
                }
            });
        }
        var createRow = function (v) {
            var row = '<li class="grp-row grp-change-link fc-event" data-idevent="' + v.id + '">' +
                '<input class="eventid" type="hidden" value="' + v.id + '">' +
                '<a href="">' + v.barra + '</a>' +
                '<span class="grp-font-color-quiet">' + v.destinatario + '</span>' +
                '<span class="grp-font-color-quiet">' + v.telefono + '</span>' +
                '<span class="grp-font-color-quiet">' + v.direccion + '</span>' +
                '<span class="btn btn-sm btn-success cotizar" ' +
                'data-name="proforma" data-url="/dtracking/gestion_proforma/?gestion=' + v.id +
                '" style="position: relative;float: right;z-index: 999;"> Cotizar</span></li>';
            return row;
        }
        function refreshCalender() {
            var events = [];
            var data = {'busqueda': $('#nav-search').val(), 'id_perito': $('#peritos').val()};
            $.ajax({
                type: "GET",
                data: data,
                url: "{% url 'obtenercitasperitaje' %}",
                success: function (response) {
                    $.each(response.programadas, function (i, v) {
                        events.push({
                            eventID: v.id,
                            title: v.titulo,
                            description: v.descripcion,
                            start: moment(v.inicio),
                            end: moment(v.fin),
                            color: v.color,
                            textColor: 'white',
                            allDay: false,
                            barra: v.barra,
                            user: v.user
                        });
                    });
                    $('#external-events-listing').empty();
                    $.each(response.pendientes, function (i, v) {
                        $('#external-events-listing').append(createRow(v));
                    });
                    makeEventsDraggable();

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert(JSON.stringify(error.d));
                    console.log(error);
                }
            })//ajax
        }
        function GenerateCalender(events) {

            $('#calender').fullCalendar('destroy');
            var calendar = $('#calender').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                lang: 'es',
                events: events,
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                dragRevertDuration: 0,
                timeFormat: 'h(:mm)a',
                drop: function (date, jsEvent, ui, resourceId) {
                    makeEventsDraggable();
                    var id = $(this).children(".eventid").val();
                    ProgramEvent(id, date, null, null);
                    setTimeout(function () {
                        showEvent(id);
                    }, 2000);
                },
                evenDropStop: function () {
                    refreshCalender();
                },
                eventRender: function (event, element, view) {
                    if (event.changing) {
                        event.changing = false;
                        ProgramEvent(event.eventID, event.start, null, null);
                    }
                    return $(
                        '<div id="event-' + event.eventID + '" class="fc-event" style="background-color:' + event.color + '; padding: 3px; color: black">' +
                        event.barra + '<br> ' +
                        '<div>' + event.title + '</div>' +
                        '<small>' + event.description + '</small><br> ' +
                        '<strong>' + event.user + ' - ' + event.start.format("h(:mm)a") + '</strong>' +
                        '</div>');
                },
                eventDragStop: function (event, jsEvent, ui, view) {

                    makeEventsDraggable();
                },
                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    makeEventsDraggable();
                },
                viewRender: function () {
                    makeEventsDraggable();
                },
                eventDragStart: function (event, jsEvent, ui, view) {
                    event.changing = true;
                    dragged = [calendar, event];
                },
                eventClick: function (calEvent, jsEvent, view) {
                    showEvent(calEvent.eventID);
                }
            });
            $('#calender').fullCalendar('option', 'timezone', 'UTC');
        }
        function ProgramEvent(id, inicio) {
            var event;
            var data = {
                "id": id,
                "fecha_asignacion": new Date(inicio).toISOString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            return $.ajax({
                url: "{% url 'programar_gestion' %}",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.code === 200) {
                        $(".fc-event[data-idevent*='" + result.gestion.id + "']").remove();
                        $("#event-" + result.gestion.id).css('background-color', result.gestion.color[0]);
                    }
                }
            });
        }
        var completeEvent = function () {
            $(this).autocomplete({
                minLength: 2,
                source: "/admin/ajax/autocomplete/?app_label=dtracking&model=gestion&column_name=destinatario",
                select: function (i, o) {
                    ver_gestion(o.item.obj.barra);
                }
            });
        }
        $(document).on("submit", ".form_entrada", function (e) {
            e.preventDefault();
            var formu = $(this);
            var url = formu.attr('action');
            var formData = new FormData($(formu)[0]);
            var element = this;
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (e) {
                    if (typeof(e.error) != "undefined" && e.error != "")
                        new PNotify({
                            title: 'Error!',
                            text: e.error,
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    else {
                        new PNotify({
                            title: 'Acción Exitosa !',
                            text: e.result,
                            type: 'success',
                            styling: 'bootstrap3'
                        });

                        refreshCalender();
                        $("#myModal").modal('hide');
                    }
                    if (typeof(e.function) != "undefined") {
                        var name = e.function;
                        var param = "";
                        if (typeof(e.param) != "undefined")
                            param = e.param;
                        window[name](e, element, param);
                    }

                }, error: function (data) {
                    new PNotify({
                        title: 'Error!',
                        text: data.responseText,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            });
        });

        $(document).ready(function () {
            refreshCalender();
            $()

            $('#new-event').click(newEvent);

            $("body").on('click', '.fc-event', editEvent);

            $("body").on('click', '.cotizar', cotizar);

            $('#nav-search').on('keyup', completeEvent);

            makeEventsDraggable();
            $("#nav-search").click(function () {
                $(this).select();
            });

        });

    </script>

{% endblock %}
