{% extends "admin/change_form.html" %}

{% block content %}
{{ block.super }}
<div id="modal-default"
 data-izimodal-title="Editar elementos de este control"
 data-izimodal-icon="icon-home"
 aria-hidden="false"
 aria-labelledby="modal-default"
 role="dialog"
 class="iziModal">
<div class="iziModal-content" >
    <div style="padding: 20px;">
    <input type="hidden" name="id_tipo" id="id_tipo">
        <table class="table table-responsive table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Elementos
                        {% if perms.dtracking.can_add_elemento %}
                            <a class="add-another" style="top: 0px !important;" title="Anadir Elementos" onclick="agregar_elemento()"></a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody id="elementos">

            </tbody>
        </table>
        <footer class="grp-module grp-submit-row ">
            <ul>
                <li><input value="Grabar" class="grp-button guardarelemento" name="_continue" type="submit" onclick="guardar_elementos()"></li>
                {% if perms.dtracking.can_add_elemento %}
                <li><input value="Añadir otro" class="grp-button agregarnuevo" name="_addanother" id="_addanother" type="submit" onclick="agregar_elemento()"></li>
                {% endif %}
            </ul>
        </footer>
    </div>

</div>


</div>
{% load static %}
<script type="text/javascript" src="/static/home/js/jquery.min.js"></script>
<link rel="stylesheet" href='{% static 'izimodal/css/iziModal.min.css' %}'type="text/css">
<script type="text/javascript" src='{% static 'izimodal/js/iziModal.min.js' %}'></script>
<script>
$(document).ready(function() {

    var editar_elementos = function () {
        $("#id_tipo").val($(this).data('id'));
        $.ajax({url: '/dtracking/edicion_elementos/',
            type: 'GET',
            dataType: "json",
            data: {'combo': $(this).data('id')},
            success : function(result){
                var tab = $('#elementos').empty();
                $.each(result, function (i, o) {
                    var rw = '<tr><td><input class="vTextField" style="width: 85%; height: 28px; margin-top: 0 !important;" type="text" name="elemento" value="'+o.valor+'"></input><a  class="grp-button grp-delete-link" onclick="borrar_elemento(this)">Borrar</a></td></tr>';
                    tab.append(rw);
                });
            }
        });

        $("#modal-default").iziModal({zindex: 9999, bodyOverflow: true});
        $("#modal-default").iziModal('open');
    };
    var tipos = $('.tipo>select');
    $.each(tipos, function(i, o){
        if($(o).val() == 'combobox' || $(o).val() == 'radio'){
            $(o).parent().append(
           '<a class="add-another elementos" data-id="' +
           $(o).parent().parent().parent().find("input:hidden[name*='-id']").val() +
          '" title="Editar Elementos"></a>');
    }
    });
    $('.tipo').on('click', '.elementos', editar_elementos)
});
function agregar_elemento() {
    var tab = $('#elementos')
    var rw = '<tr><td><input class="vTextField" style="width: 85%; height: 28px; margin-top: 0 !important;" type="text" name="elemento" value=""></input><a  class="grp-button grp-delete-link" onclick="borrar_elemento(this)">Borrar</a></td></tr>';
                    tab.append(rw);
    return false;
}
function borrar_elemento(tag) {
    var tr=$(tag).closest('tr');
    tr.remove();
}
function  guardar_elementos() {
    var data=$('.iziModal-content :input').serialize();
    $.ajax({
        url:"{% url "guardar_elementos" %}",
        method:"post",
        data:data,
        success:function (response) {
            alert(response.mensaje);
        }
    });
    return false;
}
</script>
{% endblock content %}
