<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>BizCraft - Responsive Html5 Template</title>
    <meta name="description" content="">	
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" href="http://themewinter.com/html/bizcraft/onepage/img/favicon/favicon-32x32.png" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://themewinter.com/html/bizcraft/onepage/img/favicon/favicon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://themewinter.com/html/bizcraft/onepage/img/favicon/favicon-72x72.png">
	<link rel="apple-touch-icon-precomposed" href="http://themewinter.com/html/bizcraft/onepage/img/favicon/favicon-54x54.png">
	
	<!-- CSS
	================================================== -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Template styles-->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive styles-->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Animation -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Prettyphoto -->
	<link rel="stylesheet" href="css/prettyPhoto.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Style Swicther -->
	<link id="style-switch" href="css/presets/preset4.css" media="screen" rel="stylesheet" type="text/css">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
	
<body>

	<!-- Style switcher start -->
	<div class="style-switch-wrapper">
		<div class="style-switch-button">
			<i class="fa fa-sliders"></i>
		</div>
		<h3>Style Options</h3>
		<button id="preset1" class="btn btn-sm btn-primary"></button>
		<button id="preset2" class="btn btn-sm btn-primary"></button>
		<button id="preset3" class="btn btn-sm btn-primary"></button>
		<button id="preset4" class="btn btn-sm btn-primary"></button>
		<button id="preset5" class="btn btn-sm btn-primary"></button>
		<button id="preset6" class="btn btn-sm btn-primary"></button>
		<br/><br/>
		<a class="btn btn-sm btn-primary close-styler pull-right">Close X</a>
	</div><!-- Style switcher end -->
	

	<div class="body-inner">
	<!-- Header start -->
	<header id="header" class="navbar-fixed-top header2 landing-header" role="banner">
		<div class="container">
			<div class="row">
				<!-- Logo start -->
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
				    <div class="navbar-brand">
					    <a href="index-4.html">
					    	<img class="img-responsive" src="images/logo.png" alt="logo">
					    </a> 
				    </div>                   
				</div><!--/ Logo end -->
				<nav class="collapse navbar-collapse clearfix" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a class="page-scroll" href="index-4.html#home" tabindex="-1">Home</a></li>
						<li><a class="page-scroll" href="index-4.html#features" tabindex="-1">Features</a></li>
						<li><a class="page-scroll" href="index-4.html#overview" tabindex="-1">Overview</a></li>
						<li><a class="page-scroll" href="index-4.html#pricing" tabindex="-1">Pricing</a></li>
						<li><a class="page-scroll" href="index-4.html#gallery" tabindex="-1">Gallery</a></li>
						<li><a class="page-scroll" href="index-4.html#contact" tabindex="-1">Contact</a></li>
                    </ul>
				</nav><!--/ Navigation end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</header><!--/ Header end -->

	<!-- Home start -->
	<section id="home" class="hero landing hero-section">
		<div class="video-background-container">
			<video preload="auto" autoplay loop muted class="video-background">
				<source type="video/mp4" src="videos/google.mp4" />
				<source type="video/ogg" src="videos/google.ogv" />
				<source type="video/webm" src="videos/google.webm" />
			</video>
		</div>

		<div class="parallax-overlay"></div>

		<div class="container">
			<div class="hero-content">
				<div class="hero-text wow fadeIn" data-wow-delay=".8s">
					<h1 class="hero-title"><strong>BizCraft</strong> is An Elegant Social App Concept Design</h1>
					<p class="hero-description">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Mauris hendrerit eros ac ferment sodales</p>
					<p class="hero-buttons">
						<a href="index-4.html#" class="btn btn-primary">
							<strong>Learn More </strong> <i class="fa fa-arrow-right"></i>
						</a>
						<a href="index-4.html#" class="btn btn-primary solid">
							<strong>Buy Now </strong> <i class="fa fa-shopping-cart"></i>
						</a>
					</p>
				</div><!--/ Hero text end -->
				<div class="hero-images wow fadeInUp" data-wow-delay="1s">
					<img class="pull-right" src="images/landing/hero-image.png" alt="">
				</div><!--/ Hero image end -->
			</div><!--/ Hero content end -->
		</div><!--/ Container end -->
    </section><!--/ Home end -->

    <!-- Features start -->
	<section id="features" class="features">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-tachometer"></i></span>
						<h3>Responsive Ready</h3>
						<p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua polaroid befor</p>
					</div>
				</div><!--/ End first features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s" >
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-android"></i></span>
						<h3>Fully Customizable</h3>
						<p>Food truck master cleanse mixtape minim Portland, cardigan stumptown chambray swag</p>
					</div>
					
				</div><!--/ End Second features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-apple"></i></span>
						<h3>Clients Loving</h3>
						<p>Neutra Thundercats craft beer, listicle meggings bicycle rights 90's XOXO beard cardiga</p>
					</div>
				</div><!--/ End Third features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-lightbulb-o"></i></span>
						<h3>Design for Startups</h3>
						<p>We design beautiful modern engaging websites that always latest responsive technologies.</p>
					</div>
				</div><!--/ End 4th features -->
			</div><!--/ 1st row end -->

			<div class="gap-40"></div>

			<div class="row">
				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-file-text"></i></span>
						<h3>Details Documentation</h3>
						<p>We design beautiful modern engaging websites that always latest responsive technologies</p>
					</div>
				</div><!--/ End 5th features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s" >
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-windows"></i></span>
						<h3>Useful Elements</h3>
						<p>Neutra Thundercats craft beer, listicle meggings bicycle rights 90's XOXO beard cardiga</p>
					</div>
				</div><!--/ End 6th features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-lock"></i></span>
						<h3>Secured App</h3>
						<p>Food truck master cleanse mixtape minim Portland, cardigan stumptown chambray swag</p>
					</div>
				</div><!--/ End 7th features -->

				<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
					<div class="features-content text-center">
						<span class="features-icon"><i class="fa fa-cloud-download"></i></span>
						<h3>Free Updates</h3>
						<p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua polaroid befor</p>
					</div>
				</div><!--/ End 8th features -->

			</div><!--/ 2nd row end -->
		</div><!--/ Container end -->
	</section><!--/ Features end -->

	<!-- Facts start -->
	<section class="ts_counter landing_facts">
		<div class="container">
			<div class="row wow fadeInLeft">
				<div class="col-md-3 col-sm-6">
					<div class="facts text-center">
						<i class="fa fa-users"></i>
						<div class="facts-num">
							<span class="counter">1200</span>
						</div>
						<h3>Users</h3> 
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="facts text-center">
						<i class="fa fa-cloud-download"></i>
						<div class="facts-num">
							<span class="counter">1277</span>
						</div>
						<h3>Downloads</h3> 
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="facts text-center">
						<i class="fa fa-star"></i>
						<div class="facts-num">
							<span class="counter">869</span>
						</div>
						<h3>Reviews</h3> 
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="facts text-center">
						<i class="fa fa-facebook-square"></i>
						<div class="facts-num">
							<span class="counter">14000</span>
						</div>
						<h3>Fans</h3> 
					</div>
				</div>
			</div><!--/ Row end -->
		</div><!--/ Container end -->
    </section><!--/ Facts end -->

    <!-- Overview tab start -->
	<section id="overview" class="overview">
		<div class="container">
			<div class="row wow fadeInUp">
				<div class="col-md-12 heading text-center">
					<h2 class="title2">App Overview<span class="title-desc">A Quality Experience Team with 4 years experience</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="landing-tab clearfix">
					<ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
					  	<li class="active">
					  		<a class="animated fadeIn" href="index-4.html#tab_a" data-toggle="tab">
					  			<span class="tab-icon"><i class="fa fa-desktop"></i></span>
					  			<div class="tab-info">
						  			<h3>Responsive Ready</h3>
					  			</div>
					  		</a>
					  	</li>
					  	<li>
						  	<a class="animated fadeIn" href="index-4.html#tab_b" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-sliders"></i></span>
					  			<div class="tab-info">
						  			<h3>Easy To Customize</h3>
					  			</div>
						  	</a>
						</li>
					 	<li>
						  	<a class="animated fadeIn" href="index-4.html#tab_c" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-android"></i></span>
					  			<div class="tab-info">
						  			<h3>Highly Capable</h3>
					  			</div>
						  	</a>
						</li>
						<li>
						  	<a class="animated fadeIn" href="index-4.html#tab_d" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-pagelines"></i></span>
					  			<div class="tab-info">
						  			<h3>Modern Design</h3>
					  			</div>
						  	</a>
						</li>
						<li>
						  	<a class="animated fadeIn" href="index-4.html#tab_e" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-support"></i></span>
					  			<div class="tab-info">
						  			<h3>Dedicated Support</h3>
					  			</div>
						  	</a>
						</li>
					</ul>
					<div class="tab-content col-md-9 col-sm-7">
				        <div class="tab-pane active animated fadeInRight" id="tab_a">
				        	<i class="fa fa-desktop big"></i>
				            <h3>Full Responsive with All Devices</h3> 
				            <p>Over the year we have lots of experience in our field. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
				        </div>
				        <div class="tab-pane animated fadeInLeft" id="tab_b">
				        	<i class="fa fa-sliders big"></i>
				            <h3>Fully Flexible to Customize this apps</h3> 
							<p>Helvetica cold-pressed lomo messenger bag ugh. Vinyl jean shorts Austin pork belly PBR retro, Etsy VHS kitsch actually messenger bag pug. Pbrb semiotics try-hard, Schlitz occupy dreamcatcher master cleanse Marfa Vice tofu. </p>							 
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_c">
				            <i class="fa fa-android big"></i>
				            <h3>Amazing Capability To use</h3> 
				            <p>Over the year we have lots of experience in our field. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_d">
				            <i class="fa fa-pagelines big"></i>
				            <h3>Clean and Modern Design</h3> 
				            <p>Over the year we have lots of experience in our field. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_e">
				            <i class="fa fa-support big"></i>
				            <h3>24/7 Dedicated Support</h3> 
				            <p>Occupy selfies Tonx, +1 Truffaut beard organic normcore tilde flannel artisan squid cray single-origin coffee. Master cleanse vinyl Austin kogi, semiotics skateboard fap wayfarers health goth. Helvetica cray church-key hashtag Carles. Four dollar toast meggings seitan, Tonx pork belly VHS Bushwick. Chambray banh mi cornhole. Locavore messenger bag seitan.</p>
				        </div>
					</div><!-- tab content -->
	    		</div><!-- Overview tab end -->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
    </section><!--/ Overview tab start end -->


    <!-- Video start -->
	<section class="parallax parallax2">
		<div class="parallax-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="video-embed wow fadeIn" data-wow-duration="1s">
						<!-- Change the url -->
						<iframe src="http://player.vimeo.com/video/95864492?title=0&amp;byline=0&amp;portrait=0&amp;color=8aba56" width="500" height="281" allowfullscreen></iframe>

					</div>
				</div>
			</div>
		</div>
    </section><!--/ Video end -->

	<!-- Pricing table start -->
	<section id="pricing" class="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading text-center">
					<h2 class="title2">Flexible Package 
						<span class="title-desc">We Love to Work with Passion</span>
					</h2>
				</div>
		  	</div><!--/ Title row end -->
	  		<div class="row">
				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
				    <div class="plan text-center">
				        <span class="plan-name">Basic <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>49</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="index-4.html#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1s">
				    <div class="plan text-center">
				        <span class="plan-name">Standared <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>99</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="index-4.html#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.4s">
				    <div class="plan text-center featured">
				        <span class="plan-name">Professional <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>149</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="index-4.html#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.6s">
				    <div class="plan text-center">
				        <span class="plan-name">Premium <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>399</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="index-4.html#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->
			</div><!--/ Content row end -->
		</div><!--/  Container end-->
	</section><!--/ Pricing table end -->

	<!-- Testimonial start-->
	<section class="testimonial parallax parallax3">
		<div class="parallax-overlay"></div>
	  	<div class="container">
		    <div class="row">
			    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
			        <div class="item">
			          	<div class="testimonial-thumb">
			            	<img src="images/team/testimonial1.jpg" alt="testimonial">
			          	</div>
			          	<div class="testimonial-content">
				            <p class="testimonial-text">
				              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
				            </p>
			            	<h3 class="name">Sarah Arevik<span>Chief Executive</span></h3>
			          	</div>
			        </div>
			        <div class="item">
			          	<div class="testimonial-thumb">
			            	<img src="images/team/testimonial2.jpg" alt="testimonial">
			          	</div>
				        <div class="testimonial-content">
				            <p class="testimonial-text">
				              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
				            </p>
				            <h3 class="name">Narek Bedros<span>Sr. Manager</span></h3>
				        </div>
			        </div>
			        <div class="item">
				        <div class="testimonial-thumb">
				            <img src="images/team/testimonial3.jpg" alt="testimonial">
				        </div>
			          	<div class="testimonial-content">
				            <p class="testimonial-text">
				              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
				            </p>
			            	<h3 class="name">Taline Lucine<span>Sales Manager</span></h3>
			          	</div>
			        </div>
			    </div><!--/ Testimonial carousel end-->
		    </div><!--/ Row end-->
	  	</div><!--/  Container end-->
	</section><!--/ Testimonial end-->


	<!-- Gallery start -->
	<section id="gallery" class="gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading text-center">
					<h2 class="title2">Product Gallery 
						<span class="title-desc">We Love to Work with Passion</span>
					</h2>
				</div>
		  	</div><!--/ Title row end -->
		  	<div id="app-gallery-carousel" class="col-sm-12 owl-carousel owl-theme text-center app-gallery">
		        <div class="grid">
					<figure class="effect-oscar item">
						<img class="img-responsive" src="images/landing/screenshot-1.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-1.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
		       <div class="grid">
					<figure class="effect-oscar item">
						<img class="img-responsive" src="images/landing/screenshot-2.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-2.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
		        <div class="grid">
					<figure class="effect-oscar item">
						<img class="img-responsive" src="images/landing/screenshot-3.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-3.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
		       <div class="grid">
					<figure class="effect-oscar item screenshot-img-wrapper">
						<img class="img-responsive" src="images/landing/screenshot-4.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-4.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
		        <div class="grid">
					<figure class="effect-oscar item screenshot-img-wrapper">
						<img class="img-responsive" src="images/landing/screenshot-5.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-5.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
		        <div class="grid">
					<figure class="effect-oscar item">
						<img class="img-responsive screenshot-img" src="images/landing/screenshot-6.jpg" alt="">
						<figcaption>
							<a class="view icon-pentagon" data-rel="prettyPhoto" href="images/landing/screenshot-6.jpg"><i class="fa fa-search"></i></a>            
						</figcaption>					
					</figure>
				</div>
	      </div><!-- App gallery end -->
		</div><!--/ Container end -->
	</section><!--/ gallery end -->

	<!-- Clients start -->
	<section id="clients" class="clients landing_page_clients">
		<div class="container">
			<div class="row wow fadeInLeft">
		      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client1.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client2.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client3.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client4.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client5.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client6.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client7.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="index-4.html#">
		            <img src="images/clients/client8.png" alt="client">
		          </a>
		        </figure>
		      </div><!-- Owl carousel end -->
	    	</div><!-- Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Clients end -->

	<!-- Newsletter start -->
	<section id="newsletter" class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading text-center">
					<h2 class="title2">Subscribe With Us
						<span class="title-desc">We Love to Work with Passion</span>
					</h2>
				</div>
		  	</div><!--/ Title row end -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form action="index-4.html#" method="post" id="newsletter-form" class="newsletter-form wow bounceIn" data-wow-duration=".8s">
						<div class="form-group">
							<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Enter your email address" autocomplete="off">
							<button class="btn btn-primary solid">Subscribe</button>
						</div>
					</form>
				</div>
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Newsletter end -->
	
	<!-- Contact start -->
	<section id="contact" class="contact2 parallax parallax4">
		<div class="parallax-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading text-center">
					<h2 class="title2">Get In Touch
						<span class="title-desc">We Love to Work with Passion</span>
					</h2>
				</div>
		  	</div><!--/ Title row end -->
	    	<div class="row">
	    		<div class="col-md-8 col-md-offset-2">
	    			<form id="contact-form" action="http://themewinter.com/html/bizcraft/onepage/contact-form.php" method="post" role="form">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Name</label>
								<input class="form-control" name="name" id="name" placeholder="" type="text" required>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Email</label>
									<input class="form-control" name="email" id="email" 
									placeholder="" type="email" required>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Subject</label>
									<input class="form-control" name="subject" id="subject" 
									placeholder="" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Message</label>
							<textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
						</div>
						<div class="text-right"><br>
							<button class="btn btn-primary white" type="submit">Send Message</button> 
						</div>
					</form>
	    		</div>
	    	</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Contact end -->
	

	<!-- Footer start -->
	<section id="footer" class="footer2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social-icon unstyled">
						<li>
							<a title="Twitter" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
							</a>
							<a title="Facebook" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
							</a>
							<a title="Google+" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
							</a>
							<a title="linkedin" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
							</a>
							<a title="Pinterest" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-pinterest"></i></span>
							</a>
							<a title="Skype" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-skype"></i></span>
							</a>
							<a title="Dribble" href="index-4.html#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-dribbble"></i></span>
							</a>
						</li>
					</ul>
				</div>
			</div><!--/ Row end -->
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="copyright-info">
         			 &copy; Copyright 2015 Craft. <span>Designed &amp; developed by- <a href="index-4.html#" target="_blank">TrippleS</a></span>
        			</div>
				</div>
			</div><!--/ Row end -->
		   <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
				<button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
			</div>
		</div><!--/ Container end -->
	</section><!--/ Footer end -->

	<!-- Javascript Files
	================================================== -->

	<!-- initialize jQuery Library -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Style Switcher -->
	<script type="text/javascript" src="js/style-switcher.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<!-- PrettyPhoto -->
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<!-- Bxslider -->
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<!-- Isotope -->
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/ini.isotope.js"></script>
	<!-- Wow Animation -->
	<script type="text/javascript" src="js/wow.min.js"></script>
	<!-- SmoothScroll -->
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<!-- Eeasing -->
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<!-- Counter -->
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<!-- Google Map API Key Source -->
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<!-- For Google Map -->
	<script type="text/javascript" src="js/gmap3.js"></script>
	<!-- Doc http://www.mkyong.com/google-maps/google-maps-api-hello-world-example/ -->
	<!-- Template custom -->
	<script type="text/javascript" src="js/custom.js"></script>
	
	</div><!-- Body inner end -->
</body>
</html>