<html>
<head>
    <style>
       table {font-family: "Lato","sans-serif";	}
       table.one {
           margin-bottom: 1em;
           display: inline-block;
         }

       table.one td {
         text-align: center;
         width: 10em;
         padding: 1em; 		}

       table.one th {
       text-align: center;
       padding: 0.2em;
       background-color: #7E97AD;
       color: white;		}

       table.one tr
       {
        height: 1em;
       }

       table.one tr:nth-child(even)
       {
         background-color: #eee;
       }

       table.one tr:nth-child(odd)
       {
         background-color:#fff;
       }
       .blue
       {
         text-align: center;
         padding: 1em;
         background-color: #7E97AD;
         color: white;
         font-family: "Lato","sans-serif";
       }
    </style>
</head>
<body style="max-height: 220mm; max-width: 150mm">
{% load static %}
{% load humanize %}
<script src="/static/dtracking/js/jquery.js"></script>
<script src="/static/dtracking/js/html2canvas.js"></script>





<div class="row">
    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>Recepción</h3>
                <h6><i class="ion ion-email-unread"> </i> Registros Nuevos<strong> {{ t.recepcion.de_hoy }}</strong></h6>
                <h6><i class="ion ion-help"> </i> Sin Asignar <strong> {{ t.recepcion.total }}</strong></h6>
                <h6><i class="ion ion-clock"> </i> + 48H <strong> {{ t.recepcion.a48h }}</strong></h6>
            </div>
            <div class="icon">
                <i class="ion ion-happy">{{ t.recepcion.total }}</i>
            </div>
            <a title="Reporte de Recepción" href="#"
                   class="small-box-footer show_info"
                   data-url="{% url 'reporte' %}?status=0"
                   data-name="Reporte de Recepción">Mas info
            </a>
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Logística</h3>
                <h6><i class="ion ion-android-notifications"> </i> Cítas de hoy:
                    <strong> {{ t.logistica.para_hoy }}</strong></h6>
                <h6><i class="ion ion-android-cancel"> </i> Cítas Incumplidas:
                    <strong> {{ t.logistica.incumplidas }}</strong></h6>
                <h6><i class="ion ion-clipboard"> </i> En Agenda:
                    <strong> {{ t.logistica.programadas }}</strong></h6>
            </div>
            <div class="icon">
                <i class="ion ion-android-car">{{ t.logistica.total }}</i>
            </div>
            <a title="Reporte de Logística" href="#"
                   class="small-box-footer show_info"
                   data-url="{% url 'reporte' %}?status=1"
                   data-name="Reporte de Lógistica">Mas info
            </a>
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>

</div>

<div class="row">

    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Operaciones</h3>
                <h6><i class="ion ion-android-notifications"> </i> Para hoy:
                    <strong> {{ t.operaciones.para_hoy }}</strong></h6>
                <h6><i class="ion ion-arrow-graph-down-left"> </i> Atrasadas:
                    <strong> {{ t.operaciones.vencidas }}</strong></h6>
                <h6><i class="ion ion-ios-time"> </i> En tiempo:
                    <strong> {{ t.operaciones.en_tiempo }}</strong></h6>
            </div>
            <div class="icon">
                <i class="ion ion-person-stalker">{{ t.operaciones.total }}</i>
            </div>
            <a title="Reporte de Operaciones" href="#"
                   class="small-box-footer show_info"
                   data-url="{% url 'reporte' %}?status=2"
                   data-name="Reporte de Operaciones">Mas info
            </a>
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>Gerencia</h3>
                <h6><i class="ion ion-edit"> </i> En firma: <strong> {{ t.gerencia.en_firma }}</strong></h6>
                <h6><i class="ion ion-arrow-shrink"> </i> Total Avaluos:
                    <strong> {{ t.gerencia.total }}</strong></h6>
                <h6><i class="ion ion-arrow-graph-up-right"> </i> Proyección: <strong>
                    $ {{ t.gerencia.ventas|intcomma }}</strong></h6>
            </div>
            <div class="icon">
                <i class="ion ion-android-contact">{{ t.gerencia.en_firma }}</i>
            </div>

            <a title="Reporte de Gerencia" href="#"
                   class="small-box-footer show_info"
                   data-url="{% url 'reporte' %}?status=3"
                   data-name="Reporte de Gerencia">Mas info
            </a>
        </div>
    </div>
<div id="html-content-holder" style=" width: 816px;
        padding-left: 25px; padding-top: 5px;">

          <center>
            <!--<table class="one">
                <tr>
                  <th>FECHA</th>
                  <td >---</td>
                  <th>ESTADO</th>
                  <td >--</td>
                </tr>
                <tr>
                  <th>CLIENTE</th>
                  <td colspan="3">---</td>
                </tr>
              </table>-->
            </br></br>
            <div class="blue" style="width:816px;" >AREA<b> -----</b> </div>
            </br></br>
            <table class="one">
                <tr>
                  <th>NUEVOS</th>
                  <td ></td>
                </tr>
                <tr>
                  <th>SIN ASIGNAR</th>
                  <td> </td>
                </tr>
                <tr>
                  <th>48 HORAS</th>
                  <td> </td>
                </tr>

            </table>
              </br></br>
            <div class="blue" style="width:816px;" >AREA 2<b> -----</b> </div>
            </br></br>
            <table class="one">
                <tr>
                  <th>NUEVOS</th>
                  <td ></td>
                </tr>
                <tr>
                  <th>SIN ASIGNAR</th>
                  <td> </td>
                </tr>
                <tr>
                  <th>48 HORAS</th>
                  <td> </td>
                </tr>

            </table>




    </div>


</body>
</html>
