<html>
<head>
    <style>
       table {font-family: "Lato","sans-serif";	}
       table.one {
           margin-bottom: 1em;
           display: inline-block;
         }

       table.one td {
         text-align: center;
         width: 10em;
         padding: 1em; 		}

       table.one th {
       text-align: center;
       padding: 0.2em;
       background-color: #7E97AD;
       color: white;		}

       table.one tr
       {
        height: 1em;
       }

       table.one tr:nth-child(even)
       {
         background-color: #eee;
       }

       table.one tr:nth-child(odd)
       {
         background-color:#fff;
       }
       .blue
       {
         text-align: center;
         padding: 1em;
         background-color: #7E97AD;
         color: white;
         font-family: "Lato","sans-serif";
       }
    </style>
</head>
<body style="max-height: 220mm; max-width: 150mm">
{% load static %}
{% load humanize data_dashboard %}
{% get_totales as t %}

<div class="row">

<div id="html-content-holder" style=" width: 1000px;
        padding-left: 25px; padding-top: 5px;">
        <table >
           <tr>
            <td>
              <table class="one">
                <tr>
                  <th colspan="2">Registros Nuevos</th>
                  <th colspan="2">Logística</th>
                  <th colspan="2">Operaciones</th>
                  <th colspan="2">Gerencia</th>
                </tr>
                  <tr>
                    <th>Registros Nuevos</th>
                    <td >{{ t.recepcion.de_hoy }}</td>
                    <th>Cítas de hoy</th>
                    <td >{{ t.logistica.para_hoy }}</td>
                    <th>Para hoy </th>
                    <td >{{ t.operaciones.para_hoy }}</td>
                    <th>En firma </th>
                    <td >{{ t.gerencia.en_firma }}</td>
                  </tr>
                  <tr>
                    <th>Sin Asignar</th>
                    <td>{{ t.recepcion.total }}</td>
                    <th>Cítas Incumplidas</th>
                    <td>{{ t.logistica.incumplidas }}</td>
                    <th>Atrasadas </th>
                    <td>{{ t.operaciones.vencidas }}</td>
                    <th>Proyección</th>
                    <td>$ {{ t.gerencia.ventas|intcomma }}</td>
                  </tr>
                  <tr>
                    <th>+ 48H</th>
                    <td>{{ t.recepcion.a48h }}</td>
                    <th>En Agenda</th>
                    <td>{{ t.logistica.programadas }}</td>
                    <th>En tiempo</th>
                    <td>{{ t.operaciones.en_tiempo }}</td>
                    <th></th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td>{{ t.recepcion.total }}</td>
                    <th>Total</th>
                    <td>{{ t.logistica.total }}</td>
                    <th>Total</th>
                    <td >{{ t.operaciones.total }}</td>
                    <th>Avaluos en proceso</th>
                    <td>{{ t.gerencia.total }}</td>
                  </tr>
              </table>
          </td>
        </tr>
        <tr>
          <td>
          {% if t.list_incumplidas %}
          <div class="blue"  ><b>Citas Incumplidas</b> </div>
          </br></br>
            <table class="one">
              <thead>
                <th>Fecha de Solicitud</th>
                <th>Código de Avaluo</th>
                <th>Nombre del Cliente</th>
                <th>Dirección</th>
                <th>Banco</th>
                <th>Banco	Ejecutivo</th>
                <th>Fecha Asignación</th>
                <th>Perito</th>
                <th>Dias Proceso</th>
              </thead>
              <tbody>
                {% for  gestion in t.list_incumplidas %}
                  <tr>
                    <td>{{gestion.fecha|date:"d-m-Y"}}</td>
                    <td>{{gestion.barra}}</td>
                    <td>{{gestion.destinatario}}</td>
                    <td style="200px"><p style="font-size:7px;">{{gestion.direccion}}, {{gestion.departamento.name}} </p></td>
                    <td>{{gestion.banco}}</td>
                    <td>{{gestion.banco_ejecutivo}}</td>
                    <td>{{gestion.fecha_asignacion|date:"d-m-Y"}}</td>
                    <td>{{gestion.user.get_full_name}}</td>
                    <td>{{gestion.dias_proceso}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          {% if t.list_48 %}
          <div class="blue"  ><b>Avalúos pendientes con mas de 48 horas</b> </div>
          </br></br>
            <table class="one">
              <thead>
                <th>Fecha de Solicitud</th>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Banco</th>
                <th>Ejecutivo</th>
                <th>Tipo de Avaluo</th>
                <th>Observaciones</th>
              </thead>
              <tbody>
                {% for  gestion in t.list_48 %}
                  <tr>
                    <td>{{gestion.fecha|date:"d-m-Y"}}</td>
                    <td>{{gestion.barra}}</td>
                    <td>{{gestion.destinatario}}</td>
                    <td>{{gestion.banco}}</td>
                    <td>{{gestion.banco_ejecutivo}}</td>
                    <td>{{gestion.user.tipo_gestion.name}}</td>
                    <td>{{gestion.user.observaciones}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          {% if t.list_hoy %}
          <div class="blue"  ><b>Avalúos Para Hoy</b> </div>
          </br></br>
            <table class="one">
              <thead>
                <th>Fecha de Solicitud</th>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Banco</th>
                <th>Ejecutivo</th>
                <th>Fecha Asignación</th>
                <th>Perito</th>
                <th>Fecha Inspección</th>
                <th>Armador	</th>
                <th>Fecha Vencimiento</th>
                <th>Dias en Retraso</th>

              </thead>
              <tbody>
                {% for  gestion in t.list_hoy %}
                  <tr>
                    <td>{{gestion.fecha|date:"d-m-Y"}}</td>
                    <td>{{gestion.barra}}</td>
                    <td>{{gestion.destinatario}}</td>
                    <td>{{gestion.banco}}</td>
                    <td>{{gestion.banco_ejecutivo}}</td>
                    <td>{{gestion.fecha_asignacion|date:"d-m-Y"}}</td>
                    <td>{{gestion.user.get_full_name}}</td>
                    <td>{{gestion.ficha_inspeccion|date:"d-m-Y"}}</td>
                    <td>{{gestion.armador.get_full_name}}</td>
                    <td>{{gestion.fecha_vence|date:"d-m-Y"}}</td>
                    <td>{{gestion.dias_retrazo}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          {% endif %}
      </td>
    </tr>
    <tr>
      <td>
          {% if t.list_enfirma %}
            <div class="blue"  ><b>Avalúos Pendientes de firma</b> </div>
            </br></br>
            <table class="one">
              <thead>
                <th>Fecha de Solicitud</th>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Banco</th>
                <th>Ejecutivo</th>
                <th>Fecha Asignación</th>
                <th>Perito</th>
                <th>Fecha Inspección</th>
                <th>Armador	</th>
                <th>Entrega</th>
                <th>Dias en Proceso</th>
              </thead>
              <tbody>
                {% for  gestion in t.list_enfirma %}
                  <tr>
                      <td>{{gestion.fecha|date:"d-m-Y"}}</td>
                      <td>{{gestion.barra}}</td>
                      <td>{{gestion.destinatario}}</td>
                      <td>{{gestion.banco}}</td>
                      <td>{{gestion.banco_ejecutivo}}</td>
                      <td>{{gestion.fecha_asignacion|date:"d-m-Y"}}</td>
                      <td>{{gestion.user.get_full_name}}</td>
                      <td>{{gestion.ficha_inspeccion|date:"d-m-Y"}}</td>
                      <td>{{gestion.armador.get_full_name}}</td>
                      <td>{{gestion.fecha_entrega_efectiva|date:"d-m-Y"}}</td>
                      <td>{{gestion.dias_proceso}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          {% endif %}
        </td>
      </tr>
    </table>
    </div>


</body>
</html>
