{% extends "admin/base.html" %}

{% load grappelli_dynamic_navbar static %}

{% block admin_title %}
  <style>
  input[type="text"], input[type="password"], input[type="number"], .vDateField, .vTimeField, .vIntegerField, .vPositiveSmallIntegerField, .vManyToManyRawIdAdminField, .vForeignKeyRawIdAdminField {
    width: 100%;
  }
  .datepicker
  {
    position: absolute;
    cursor: default;
    z-index: 10000 !important;
  }
  </style>
    <h1 id="grp-admin-title"><strong>Valuarte</strong> <span><div id="search" class="">
        <style>
            input[type=text].grp-search-field-navbar {
                margin-right: -5px;
                padding-left: 25px;
                padding-right: 30px;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                min-width: 271px;
            }

            form#grp-changelist-search-form {
                margin: 0 0 0 40px;
                border: 1px solid #fff;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
            }
        </style>
        <!-- Search Form -->
        <form id="grp-changelist-search-form" action="" method="get" novalidate="">
            <input type="text" name="consulta" id="id_consulta" class="grp-search-field-navbar" value="">
            <button type="button" value="" class="grp-search-button" id="search_btn"
                    style="margin-left: -25px;"></button>
        </form>
    </div></span></h1>

    <div id="modal-default"
         data-izimodal-fullscreen="true"
         data-izimodal-title="Estado de su gestion"
         data-izimodal-subtitle="Aquí puede informarse del proceso de su avaluo"
         data-izimodal-icon="icon-home"
         aria-hidden="false"
         aria-labelledby="modal-default"
         role="dialog" class="iziModal"
         data-izimodal-group="grupo1"
         data-izimodal-loop="true"

         style="border-bottom: 3px solid rgb(136, 160, 185);
                 overflow: hidden; z-index: 999;
                 border-radius: 3px; max-width: 700px;
                 display: None; height: 459px;">
        <div class="iziModal-content">
            <div style="padding: 20px">
                <div  class="row" id="gestion_cancelada">
                </div>
                <div class="row" style="display:none" id="menu_gestion">
                    <div class="col-sm-12 col-xs-12">
                        <a id="ficha" title="" href="#"
                           class="btn btn-primary btn-circle" target="_blank">
                            <i class="ion-pie-graph"></i>
                        </a>
                        <a id="facturaproforma" title="Asignar Fecha Factura" style="cursor:pointer;display:none"
                           class="btn btn-primary btn-circle" target="_blank"  >
                            <i class="ion-social-buffer-outline"></i>
                        </a>
                        <a id="proforma" title="Generar Ficha" href="#"
                           class="btn btn-primary btn-circle" target="_blank">
                            <i class="ion-android-desktop"></i>
                        </a>
                        <a id="examen" title="Examen Previo" href="#"
                           class="btn btn-primary btn-circle" target="_blank">
                            <i class="ion-social-octocat"></i>
                        </a>
                        <a id="editar" title="Editar" href="javascript:void(0)"
                           class="btn btn-primary btn-circle" onclick="editEvent()">
                            <i class="ion-edit"></i>
                        </a>
                        <a id="cancelar" title="Cancelar Avaluo" href="javascript:void(0)"
                           class="btn btn-primary btn-circle" target="_blank">
                            <i class="ion-ios-close-outline"></i>
                        </a>
                    </div>
                </div>
                <div class="row" id="div_fecha" style="display:none;background-color:#e3f7fc; color:#555; border:.1em solid;border-color: #8ed9f6;border-radius:10px;font-family:Tahoma,Geneva,Arial,sans-serif;font-size:1.1em;padding:10px 10px 10px 10px;margin:10px;cursor: default;">
                   <div class="col-sm-4 col-xs-12"><h4 style="margin-top: 0px;">Fecha Facturación :</h4></div>
                   <div class="col-sm-8 col-xs-12">
                     <input type="date" class="form-control" name="text_fecha"  id="text_fecha" lang="es" >
                     </br>
                     <button id="btn_gestion_fecha" onclick="" style="width:100%;height:50%;  background-color: #008CBA;font-size: 10px;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;" >Registrar</button>
                   </div>
                </div>
                <div class="row" id="div_cancelar" style="display:none;background-color:#ff3f3f; color:#000000; border:.1em solid;border-color: #8ed9f6;border-radius:10px;font-family:Tahoma,Geneva,Arial,sans-serif;font-size:1.1em;padding:10px 10px 10px 10px;margin:10px;cursor: default;">
                   <div class="col-sm-4 col-xs-12"><h4 style="margin-top: 0px;">Está seguro que quiere eliminar Este avalúo  ?</h4></div>
                   <div class="col-sm-8 col-xs-12">
                     <button id="btn_gestion_cancelar" style="width:40%;height:70%;  background-color: #008CBA;font-size: 10px;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;" >SI</button>
                     <button id="btn_gestion_anular"   style="width:40%;height:70%;  background-color: #d80000;font-size: 10px;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;" >NO</button>
                   </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12"><h4 style="margin-top: 0px;"># Gestion :</h4></div>
                    <div class="col-sm-8 col-xs-12">
                        <strong id="codigo_gestion">3527364</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12"><h4 style="margin-top: 0px;">Solicitado por:</h4></div>
                    <div class="col-sm-8 col-xs-12">
                        <strong id="cliente_gestion">José Williams Garcia</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12"><h4 style="margin-top: 0px;">Tipo de Avaluo:</h4></div>
                    <div class="col-sm-8 col-xs-12"><strong id="tipo_gestion">Avaluo de Automovil</strong></div>
                </div>
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Anexo</th>
                    </tr>
                    </thead>
                    <tbody id="logs">
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div id="modal-edit"
         data-izimodal-fullscreen="true"
         data-izimodal-title="Estado de su gestion"
         data-izimodal-subtitle="Aquí puede informarse del proceso de su avaluo"
         data-izimodal-icon="icon-home"
         aria-hidden="false"
         aria-labelledby="modal-default"
         role="dialog" class="iziModal"
         data-izimodal-group="grupo1"
         data-izimodal-loop="true"

         style="border-bottom: 3px solid rgb(136, 160, 185);
                 overflow: hidden; z-index: 999;
                 border-radius: 3px; max-width: 700px;
                 display: None; height: 459px;">

        <div class="iziModal-content" >
          <div class="modal-content" style="padding: 10px">

          </div>
        </div>
    </div>

    <link rel="stylesheet" href="{% static '/izimodal/css/iziModal.min.css' %}" type="text/css">
    <script type="text/javascript" src='{% static '/jquery/dist/jquery.min.js' %}'></script>
    <script type="text/javascript" src='{% static '/jquery-ui/jquery-ui.min.js' %}'></script>
    <script type="text/javascript" src='{% static '/izimodal/js/iziModal.min.js' %}'></script>

    <link href=" {% static '/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href=" {% static '/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
    <link href=" {% static '/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">
    <script type="text/javascript" src='{% static "/pnotify/dist/pnotify.js" %}'></script>
    <script type="text/javascript" src='{% static "/pnotify/dist/pnotify.buttons.js" %}'></script>
    <script type="text/javascript" src='{% static "/pnotify/dist/pnotify.nonblock.js" %}'></script>

    <script>

      var finalizarFechaEvent =   function ()
        {
          var id = $('#btn_gestion_fecha').attr('data-event');
          $.ajax("/admin/ajax/object_execute/", {
              method: "post",
              data: { text_fecha:$('#text_fecha').val(), app_label: "dtracking", model: "gestion", id: id, method: "asignarFechaFacturacion"},
              success: function(result){
                  if(result.result.code =="200")
                   {
                     $("#ficha").attr('title','Generar Factura');
                     $("#facturaproforma").attr('style','cursor:pointer;display:none');
                     $("#div_fecha").toggle();
                   }
                   alert(result.result.result);
              }
          })
        }
      var cancelarEvent = function()
      {
        var id = $('#btn_gestion_cancelar').attr('data-event');
        $.ajax("/admin/ajax/object_execute/", {
            method: "post",
            data: {  app_label: "dtracking", model: "gestion", id: id, method: "cancelarGestion"},
            success: function(result){
                 alert(result.result.result);
                 if(result.result.code =="200")
                    $("#modal-default").iziModal('close');
            }
        })
      }
        $(document).ready(function () {


            var atachments_info = function () {
                window.open(
                    $(this).data('url'),
                    $(this).data('name'),
                    "width=600mm, height=500mm,  status=no, menubar=no, location=no");
            };

            $('.show_info').on('click', atachments_info);


            var completeEvent = function () {
                $(this).autocomplete({
                    minLength: 2,
                    source: "/admin/ajax/autocomplete/?app_label=dtracking&model=gestion&column_name=destinatario,barra",
                    select: function (i, o) {
                        if(o.item.obj.cancelada)
                        {
                          $("#menu_gestion").hide();
                          $("#gestion_cancelada").html('<b>GESTIÓN CANCELADA</b>');
                        }
                        else
                        {
                          $("#menu_gestion").show();
                        }
                        ver_gestion(o.item.obj.barra);
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }

            $('#id_consulta').on('keyup', completeEvent);


            $('#search_btn').click(function (e) {
                var e = jQuery.Event("keydown");
                e.which = 50; // # Some key code value
                $("#id_consulta").trigger(e);

                var l = jQuery.Event("keyup");
                l.which = 50; // # Some key code value
                $("#id_consulta").trigger(l);
                $('#id_consulta').trigger("focus");
                $('#id_consulta').trigger("change");
            });

        });


    </script>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">

        var editEvent = function () {
            var id = $("#editar").data("event");
            var params = "fields=barra-tipo_gestion-fin_gestion-uso_gestion-valor-destinatario-telefono-contacto-contacto_telefono-banco-banco_ejecutivo-departamento-direccion-observaciones-priority&app_label=dtracking&model=gestion&id=" + id;
            modal = $("#modal-edit");
            body = modal.find(".modal-content").empty();
            $.ajax("/admin/ajax/get_html_form/?" + params, {
                method: "GET",
                success: function (response) {
                    body.html(response);
                    modal.iziModal({zindex: 10000});
                    modal.iziModal('open');
                }
            });
        }
        var anularEvent = function () {
              $("#div_cancelar").toggle();
        }
       var finalizarEvent =  function () {
          $("#div_fecha").toggle();
        }

        function ver_gestion(gestion) {
          $("#div_fecha").hide();
          $("#div_cancelar").hide();
            var u = "{% url "get_log_gestion" %}?gestion=" + gestion + "";
                $.ajax({
                    url: u,
                    method: "get",
                    success: function (result) {
                        if (result.code == 200) {
                            var tab = $('#logs').empty();
                            $.each(result.logs, function (i, o) {
                                var rw = '<tr><td>' + o.fecha + '</td><td>' + o.estado + '</td><td>' + o.anexo + '</td></tr>';
                                tab.append(rw);
                            });
                            var u_ficha = "/dtracking/gestion_proforma/?gestion=" + result.id_gestion
                            $("#ficha").attr('href', u_ficha);
                            var u_proforma = "/dtracking/generar_asignacion/?documento=" + result.id_gestion
                            $("#proforma").attr('href', u_proforma);
                            var u_examen = "/dtracking/examen_previo/?gestion=" + result.id_gestion
                            $("#examen").attr('href', u_examen);
                            $("#editar").attr('data-event', result.id_gestion);
                            $('#editar').on('click', editEvent);
                            $(document).on("click","#cancelar",anularEvent);
                            $(document).on("click","#btn_gestion_anular",anularEvent);
                            $(document).on("click","#facturaproforma",finalizarEvent);
                            $(document).on("click","#btn_gestion_fecha",finalizarFechaEvent);
                            $(document).on("click","#btn_gestion_cancelar",cancelarEvent);


                            $("#btn_gestion_fecha").attr('data-event', result.id_gestion);
                            $("#btn_gestion_cancelar").attr('data-event', result.id_gestion);

                            if(result.status_gestion ==="LEVANTAMIENTO REALIZADO"){
                                $("#editar").css('visibility', 'hidden');
                                $("#cancelar").css('visibility', 'hidden');
                            }
                            $("#codigo_gestion").html(result.codigo_gestion);
                            $("#cliente_gestion").html(result.cliente_gestion);
                            $("#tipo_gestion").html(result.tipo_gestion);
                            if(result.factura_gestion)
                              $("#ficha").attr('title','Generar Factura');
                            else
                              $("#ficha").attr('title','Generar Cotización');

                            if(result.fecha_facturacion != "" && result.fecha_facturacion != undefined && result.fecha_facturacion != "None") 
                              $("#facturaproforma").attr('style','cursor:pointer;display:none');
                            else
                              $("#facturaproforma").attr('style','cursor:pointer');

                            $("#modal-default").iziModal({zindex: 9999});
                            $("#modal-default").iziModal('open');
                        } else {
                            alert(result.mensaje);
                        }

                    }
                });
                $(".style-switch-wrapper").removeClass("active");
            };
    </script>
    <style>
        .prioridad {
            background-color: #03a9f4;
            animation: parpadeo 1s;
            -webkit-animation: parpadeo 1s;
            -moz-animation: parpadeo 1s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
        }

        @keyframes parpadeo {
            0% {
                background-color: #fffd80;
            }
            100% {
                background-color: transparent;
            }
        }

        @-webkit-keyframes parpadeo {
            0% {
                background-color: #fffd80;
            }
            100% {
                background-color: transparent;
            }
        }
    </style>
{% endblock %}

{% block userlinks %}
    {% grappelli_dynamic_navbar %}
    {{ block.super }}
{% endblock %}
