    {% extends "admin/app_index.html" %}

    {% load i18n %}


    {% block content_title %}
    {% if title %}
    <header><h1>Sitio Administrativo Valuarte</h1></header>
    {% endif %}
    {% endblock content_title %}


    {% block extrahead %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    {% endblock %}

    {% block content %}
            <style>
                #mapid{
                    float:left;
                    width: 600px;
                    height: 500px;
                }
                #dashboard{
                    float:right;
                }
                #tabla{
                    float:left;
                }
                #pie{
                    float:right;
                }
                .legend{
                    margin-bottom:76px;
                    display:inline-block;
                    border-collapse: collapse;
                    border-spacing: 0px;
                }
                .legend td{
                    padding:4px 5px;
                    vertical-align:bottom;
                    font-size: 20px;
                }
                .legendFreq, .legendPerc{
                    align:right;
                    width:50px;
                }
                path {  stroke: #fff; }
                path:hover {  opacity:0.9; }
                rect:hover {  fill:blue; }
                .axis {  font: 10px sans-serif; }
                .legend tr{    border-bottom:1px solid grey; }
                .legend tr:first-child{    border-top:1px solid grey; }
                .axis path,
                .axis line {
                  fill: none;
                  stroke: #000;
                  shape-rendering: crispEdges;
                }

                .x.axis path {  display: none; }
                .legend{
                    margin-bottom:76px;
                    display:inline-block;
                    border-collapse: collapse;
                    border-spacing: 0px;
                }
    </style>
    <div id="mapid"></div>
    <div id="dashboard">
        <div id="superior">
            <div id="tabla"></div>
            <div id="pie"></div>
        </div>
        <div id="inferior">
            <div id="barras"></div>
        </div>
    </div>
    <script>

    var mymap = L.map('mapid').setView([12.09, -86.16], 10);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);
    (function($) {
        $(document).ready(function () {
        var d = new Date();
        var data = {
            anio: d.getFullYear(),
            mes: (d.getMonth()+1),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
       $.ajax({
           url: "{% url "get_avaluos_posicion" %}",
           method: "POST",
           data: data,
           success: function(result){
               $.each( result, function( key, value ) {
                   L.marker([value.latitude, value.longitude])
                       .addTo(mymap)
                       .bindPopup('<strong>Codigo: <strong>' + value.barra +
                                  '<br><strong>Destinatario: <strong>' + value.destinatario +
                                  '<br><strong>Direccion: <strong>' + value.direccion +
                                  '<br><strong>Telefono: <strong>' + value.telefono +
                                  '<br><strong>Estado: <strong>' + value.estado);
               });
           }
       });
    });
    })(grp.jQuery);



   {% comment %} L.circle([12.09, -86.17], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 2000
    }).addTo(mymap);

    L.polygon([
        [12.409, -86.08],
        [12.503, -86.06],
        [12.61, -86.047]
    ]).addTo(mymap);{% endcomment %}


    </script>

    <script type="text/javascript">
        {% load data_dashboard %}
        {% load tipos_gestion %}
        {% get_data as data %}
        {% get_tipos_gestion as tipos %}
        var data = [
            {% for d in data %}
            {status: '{{ d.status }}', total: {{ d.total }}, tipos: {
                {% for t in d.tipos %}
                "{{ t.tipo }}": {{ t.total }},
                    {% endfor %}
                }},
            {% endfor %}
        ];

        var tipos = [
            {% for t in tipos %}
            '{{ t.prefijo }}',
            {% endfor %}
        ];

        var por_tipo = tipos.map(function(d){
            return {type:d, total: d3.sum(data.map(function(t){
                return t.tipos[d];
            }))};
        });
    function dashboard(data){
        var barColor = '#a3b6ba';

        function segColor(c){ return {"RECEPCIONADO":"#ba0207",
            "ASIGNADO A EVALUADOR": "#e09617", "LEVANTAMIENTO REALIZADO":"#abab20",
            "EN REVISION FINAL DE INFORME": "#41ab5d", "TERMINADO":"#2167ab",}[c.status]; }

        function histoGram(fD, id){
        var hG={},    hGDim = {t: 60, r: 0, b: 30, l: 0};
        hGDim.w = 600 - hGDim.l - hGDim.r,
        hGDim.h = 250 - hGDim.t - hGDim.b;

        //create svg for histogram.
        var hGsvg = d3.select(id).append("svg")
            .attr("width", hGDim.w + hGDim.l + hGDim.r)
            .attr("height", hGDim.h + hGDim.t + hGDim.b).append("g")
            .attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");

        // create function for x-axis mapping.
        var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
                .domain(fD.map(function(d) { return d.type; }));

        // Add x-axis to the histogram svg.
        hGsvg.append("g").attr("class", "x axis")
            .attr("transform", "translate(0," + hGDim.h + ")")
            .call(d3.svg.axis().scale(x).orient("bottom"));

        // Create function for y-axis map.
        var y = d3.scale.linear().range([hGDim.h, 0])
                .domain([0, d3.max(fD, function(d) { return d.total; })]);

        // Create bars for histogram to contain rectangles and freq labels.
        var bars = hGsvg.selectAll(".bar").data(fD).enter()
                .append("g").attr("class", "bar");

        //create the rectangles.
        bars.append("rect")
            .attr("x", function(d) { return x(d.type); })
            .attr("y", function(d) { return y(d.total); })
            .attr("width", x.rangeBand())
            .attr("height", function(d) { return hGDim.h - y(d.total); })
            .attr('fill', barColor)
            .on("mouseover",mouseover)// mouseover is defined below.
            .on("mouseout",mouseout);// mouseout is defined below.

        //Create the frequency labels above the rectangles.
        bars.append("text").text(function(d){ return d3.format(",")(d.total)})
            .attr("x", function(d) { return x(d.type)+x.rangeBand()/2; })
            .attr("y", function(d) { return y(d.total)-5; })
            .attr("text-anchor", "middle");

        function mouseover(d){  // utility function to be called on mouseover.
            // filter for selected state.
            var nD = data.map(function(s){ return {type:s.status, total:s.tipos[d.type]};});
            // call update functions of pie-chart and legend.
            pC.update(nD);
            leg.update(nD);
        }

        function mouseout(d){    // utility function to be called on mouseout.
            // reset the pie-chart and legend.
            pC.update(data);
            leg.update(data);
        }

        // create function to update the bars. This will be used by pie-chart.
        hG.update = function(nD, color){
            //y.domain([0, d3.max(nD, function(d) { return d.total; })]);

            // Attach the new data to the bars.
            var bars = hGsvg.selectAll(".bar").data(nD);

            // transition the height and color of rectangles.
            bars.select("rect").transition().duration(500)
                .attr("y", function(d) {return y(d.total); })
                .attr("height", function(d) { return hGDim.h - y(d.total); })
                .attr("fill", color);

            // transition the frequency labels location and change value.
            bars.select("text").transition().duration(500)
                .text(function(d){ return d3.format(",")(d.total)})
                .attr("y", function(d) {return y(d.total)-5; });
        }
        return hG;
    }


    function pieChart(pD, id){
        var pC ={},    pieDim ={w:150, h: 150};
        pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;

        // create svg for pie chart.
        var piesvg = d3.select(id).append("svg")
            .attr("width", pieDim.w).attr("height", pieDim.h).append("g")
            .attr("transform", "translate("+pieDim.w/2+","+pieDim.h/2+")");

        // create function to draw the arcs of the pie slices.
        var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);

        // create a function to compute the pie slice angles.
        var pie = d3.layout.pie().sort(null).value(function(d) { return d.total; });

        // Draw the pie slices.
        piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
            .each(function(d) { this._current = d; })
            .style("fill", function(d) { return segColor(d.data); })
            .on("mouseover",mouseover).on("mouseout",mouseout);

        // create function to update pie-chart. This will be used by histogram.
        pC.update = function(nD){
            piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
                .attrTween("d", arcTween);
        }
        // Utility function to be called on mouseover a pie slice.
        function mouseover(d){
            var x = data.filter(function (f) {return d.data.status == f.status;})[0];
            console.log(x);
            var nd = d3.keys(x.tipos).map(function(s){ return {type:s, total:x.tipos[s]};});
            hG.update(nd ,segColor(d.data));
        }

        //Utility function to be called on mouseout a pie slice.
        function mouseout(d){
            hG.update(por_tipo, barColor);

        }
        // Animating the pie-slice requiring a custom function which specifies
        // how the intermediate paths should be drawn.
        function arcTween(a) {
            var i = d3.interpolate(this._current, a);
            this._current = i(0);
            return function(t) { return arc(i(t));    };
        }
        return pC;
    }
    function legend(lD, id){
        var leg = {};

        // create table for legend.
        var legend = d3.select(id).append("table").attr('class','legend');

        // create one row per segment.
        var tr = legend.append("tbody").selectAll("tr").data(lD).enter().append("tr");

        // create the first column for each segment.
        tr.append("td").append("svg").attr("width", '25').attr("height", '25').append("rect")
            .attr("width", '25').attr("height", '25')
			.attr("fill",function(d){ return segColor(d); });

        // create the second column for each segment.
        tr.append("td").text(function(d){ return d.status;});

        // create the third column for each segment.
        tr.append("td").attr("class",'legendFreq')
            .text(function(d){ return d3.format(",")(d.total);});

        // create the fourth column for each segment.
        tr.append("td").attr("class",'legendPerc')
            .text(function(d){ return getLegend(d,lD);});

        // Utility function to be used to update the legend.
        leg.update = function(nD){
            // update the data attached to the row elements.
            var l = legend.select("tbody").selectAll("tr").data(nD);

            // update the frequencies.
            l.select(".legendFreq").text(function(d){ return d3.format(",")(d.total);});

            // update the percentage column.
            l.select(".legendPerc").text(function(d){ return getLegend(d,nD);});
        }

        function getLegend(d,aD){ // Utility function to compute percentage.
            return d3.format("%")(d.total/d3.sum(aD.map(function(v){ return v.total; })));
        }

        return leg;
    }


    var hG = histoGram(por_tipo, '#barras');
    var pC = pieChart(data, '#pie');
    var leg = legend(data, '#tabla');
    }
    dashboard(data);
    </script>

    {% endblock content %}
